@media (min-width: 1024px) and (max-width: 1200px) {
    .homesearch-input {
        width: 390px;
    }
    .map-tooltip {
        width: 30%;
    }
    .home-topslider {
        height: 90%;
    }
    .img-color-overlay {
        height: 99%;
    }
    .home-searchbar-tabs ul li a {
        padding: 20px 10px;
    }
    .cap-2 {
        width: 32%;
    }
    .cap-1 h3 {
        font-size: 36px;
    }
    .cap-1 p {
        font-size: 17px;
    }
    .home-search-pannal {
        width: 68%;
    }
    .map-rightpannal {
        width: 60%;
        z-index: 11;
    }
    .map-rightpannal.list-view-right-sec {
        position: relative;
        width: 60%;
    }
    .list-view-talentMaster {
        float: left;
        width: 40%;
    }
    .address-input {
        width: 46%;
    }
    .list-view-talentmastercontent {
        width: 82%;
    }
    .list-view-select-outer {
        width: 35%;
    }

	.talentmasbanner-pro-middlesec .map-rightpannal-imginner {
	    width: 415px;
	}

	.master-banner-socail ul li {
	    padding-left: 4px;
	}

	.talentmasbanner-pro-middlesec .rightrating-img {
	    width: 24%;
	}

	.talentmasbanner-pro-middlesec {
	    float: left;
	    width: 100%;
	}

	.master-banner-socail {
	    float: right;
	    position: absolute;
	    right: 30px;
	    top: 20px;
	}

	.talentmasbanner-pro-middlesec-outer {
	   position: relative;
	    width: 100%;
	}

	.talent-master-topouter {
	    min-height: 480px;
	}


	.fee-structure {
	    padding: 20px 40px;
	    width: 100%;
	}

	.fee-sechdule .fee-structure-left {
	    width: 100%;
	}
	.fee-sechdule {
	   padding: 20px 40px;
	    width: 100%;
	}

	.phondvideo-photobox {
	    margin: 0 0 16px 8px;
	}


    .talentnook-profile-topprifle-curcleimg .rightrating-img {
        width: 11%;
    }

    .talentnook-profile-top p {
        width: 90%;
    }

    .dashbaord-post-user {
        width: 18%;
    }

    .dashbaord-post-time{
        width: 15%;
    }

    .dashbaord-post-sndpri{
        width: 15%;
    }

    .profile-middle-title {
        font-size: 22px;
    }

    .conditonal-search .homesearch-input {
        width: 64%;
    }

    .home-srchadvance {
        padding: 20px 0 22px 2px;
    }

    .conditonal-search .home-search-pannal {
        width: 65%;
    }

    .leftpannal.search-condition-dropdown ul{
        margin: 0;
    }

    .leftpannal.search-condition-dropdown ul li{
       padding: 10px 10px 10px 0;
    }


}

@media (min-width: 768px) and (max-width: 1023px) {
    .how-it-works-title {
        width: 70%;
    }
    .how-it-works-box {
        min-height: 300px;
    }
    .skill-ortelents h2 {
        font-size: 26px;
    }
    .foot-logo {
        width: auto;
    }
    .btn.ask-btn {
        width: 100%;
    }
    .home-search-pannal {
        width: 58%;
    }
    .homesearch-input {
        width: 48%;
    }
    .zipcode-input {
        width: 35%;
    }
    .map-tooltip {
        width: 39%;
        top: 44px;
    }
    .home-topslider {
        height: 90%;
    }
    .img-color-overlay {
        height: 99%;
    }
    .address-input {
        width: 40%;
    }
    .home-searchbar-tabs ul li a {
        padding: 20px 10px;
    }
    .cap-2 {
        width: 32%;
    }
    .cap-1 {
        margin: 20px 0 0;
    }
    .cap-1 h3 {
        font-size: 30px;
    }
    .cap-1 p {
        font-size: 16px;
    }
    .map-rightpannal {
        width: 80%;
        z-index: 11;
    }
    .list-view-talentMaster {
        width: 100%;
        height: 400px;
    }
    .map-rightpannal.list-view-right-sec {
        width: 100%;
    }
    .header .navbar-nav > li {
        padding: 30px 22px;
    }
    .list-view-select-outer {
        width: 35%;
    }


    .leftpannal {
        width: 26%;
    }

    .dashbaord-right-section{
        width: 74%;
    }

    .master-average-inner {
        margin-top: 20px;
    }

    .talentmasbanner-pro-middlesec {
        float: left;
        width: 100%;
    }

    .master-banner-socail {
        float: right;
        position: absolute;
        right: 30px;
        top: 20px;
    }

    .talentmasbanner-pro-middlesec-outer {
       position: relative;
        width: 100%;
    }

    .talentmaster-banner-title-inner {
        margin-top: 0;
     }

    .fee-structure {
        padding: 20px 40px;
        width: 100%;
    }

    .fee-sechdule .fee-structure-left {
        width: 100%;
    }
    .fee-sechdule {
       padding: 20px 40px;
        width: 100%;
    }

    .master-student-deatils {
        width: 95%;
    }

    .phondvideo-photobox {
        margin: 0 0 6px 6px;
    }



    .talentnook-profile-topprifle-curcleimg .rightrating-img {
        width: 14%;
    }

    .talentnook-profile-top > p {
        font-size: 15px;
        width: 90%;
    }

    .tnook-profilehost {
        font-size: 15px;
    }

    .tnook-profilehost-pname {
        font-size: 15px;
    }

    .profile-middle-title {
        font-size: 18px;
     }




    .talent-master-topouter {
            min-height: 480px;
    }




    .fetured-banner-box:nth-child(2) {
        margin: 0 0 0 4px;
    }

    .fetured-banner-box:nth-child(3) {
        margin: 0 4px;
    }

    .fetured-banner-box{
        min-height: 295px;
        padding-bottom: 10px;
    }

    .fetured-top-circleimg img {
        margin-top: -41px;
    }

    .fetured-banner-box-inner {
        margin: 50px 0 0;
    }

    .dashbaord-post-user {
        width: 25%;
    }

    .dashbaord-post-time{
        width: 22%;
    }

    .dashbaord-post-sndpri{
        width: 22%;
    }

    .zipMsg {
        font-size: 11px;
        height: 20px;
    }

    .conditonal-search .homesearch-input {
        width: 48%;
    }

    .conditonal-search .home-search-pannal {
        width: 55%;
    }

    .home-srchadvance {
        padding: 20px 0;
    }

    .leftpannal.search-condition-dropdown{
        width: 29%;
    }

    .home-searchbar-tabs {
        margin: 0 0 0 12px;
    }


}

@media only screen and (max-width: 767px) {
    .how-it-works-title {
        width: 100%;
    }
    .how-it-works-box {
        border-right: 0 none;
        min-height: auto;
        padding-bottom: 30px;
        padding-right: 0;
    }
    .skill-ortelents h2 {
        font-size: 22px;
    }
    .skill-ortelents-inputbtn-inner .btn {
        margin-left: 0;
        margin-top: 20px;
    }
    .cms-mobile {
        min-height: 165px;
    }
    .foot-logo {
        margin: 0 0 24px;
    }
    .foot-cmslinks-inner {
        padding: 25px 0 0;
    }
    .how-it-works {
        padding: 25px 0;
    }
    .home-search-pannal {
        width: 100%;
        padding: 0;
    }
    .how-it-works-title h2 {
        font-size: 24px;
    }
    .skill-ortelents-inputbtn-inner {
        display: inline-block;
        float: none;
        width: 90%;
    }
    .map-tooltip {
        left: 24%;
        top: 28px;
        width: 59%;
    }
    .homesearch-input {
        width: 46%;
    }
    .home-searchbar-tabs {
        text-align: center;
        width: auto;
        float: none;
    }
    .zipcode-input {
        width: 110px;
    }
    .home-srchadvance {
        float: left;
        padding: 20px 0;
    }
    .home-topslider {
        height: 90%;
    }
    .img-color-overlay {
        height: 99%;
    }
    .address-input {
        width: 40%;
    }
    .available-sort-select {
        width: 28.5%;
    }
    .header .navbar-toggle {
        margin-top: 23px;
    }
    .header .navbar-default .navbar-toggle {
        border: none;
    }
    .header .navbar-default .navbar-toggle:focus,
    .header .navbar-default .navbar-toggle:hover,
    .header .navbar-default .navbar-toggle.active {
        background: none;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #0ab0be;
    }
    .header .navbar-toggle .icon-bar {
        height: 3px;
        width: 25px;
    }
    .cap-1 {
        margin: 0;
        width: 100%;
    }
    .cap-1 h3 {
        font-size: 23px;
    }
    .cap-1 p {
        font-size: 13px;
    }
    .home-topslider .carousel-indicators {
        bottom: 0;
    }
    .cap-2 {
        width: 32%;
    }
    .head-menu-separator {
        float: none;
    }
    .map-rightpannal {
        width: 90%;
        z-index: 1;
    }
    .map-rightpannal-inner-toppannal h2 {
        font-size: 20px;
    }
    .rightrating-img {
        width: 26%;
    }
    .rightpannal-details-first {
        width: 14%;
    }
    .rightpannal-details-secound {
        padding: 0 0 0 13px;
        width: 40%;
    }
    .rightpannal-details-third {
        padding: 0 0 0 10px;
        width: 46%;
    }
    .right-detilis-top {
        padding-bottom: 15px;
    }
    .btn.view-profile,
    .btn.interstedbtn {
        width: 40%;
    }
    .map-rightpannal-btm-btns h3 {
        font-size: 15px;
    }
    .list-view-talentMaster {
        width: 100%;
        height: 400px;
    }
    .map-rightpannal.list-view-right-sec {
        width: 100%;
    }
    .head-menu-separator {
        display: none;
    }
    .header .navbar-nav > li {
        padding: 15px 25px;
    }
    .header .navbar-nav > li > a:hover {
        color: #0ab0be;
    }
    .navbar-nav .open .dropdown-menu {
        background-color: transparent;
        border: 0 none;
        box-shadow: none;
        float: left;
        margin: -12px 0 0 21px;
        position: static;
        width: 100%;
    }
    .head-rightdropdown .dropdown-menu > li > a:hover,
    .head-rightdropdown .dropdown-menu > li > a:focus {
        color: #0ab0be !important;
    }
    .head-rightdropdown .dropdown-menu > li > a {
        padding: 6px 24px !important;
    }
    .cap-2 {
        display: none;
    }
    .advance-listview-chaeck {
        float: right;
        padding-top: 19px;
    }
    .list-view-talentmastercontent {
        width: 84%;
    }
    .available-sort-select.list-view-select {
        width: 64%;
    }
    .list-view-select-outer {
        width: 46%;
    }
    .list-view-top-talentnook-tab li {
        padding: 18px 6px;
    }




    .header .navbar-nav > li {
        padding: 6px 25px;
    }

    .head-notific{
        top: 0;
    }

    .head-notifi-inner {
        padding-top: 10px;
    }

    .rightrating-img i:nth-child(5) {
        right: -15px;
        top: 20px;
    }



    .leftpannal {
        width: 100%;
    }

    .dashbaord-right-section {
        border-left: 0 none;
        margin-top: 10px;
        width: 100%;
    }

    .leftpannal ul{
        margin: 0;
    }

    .dashbaord-bootom-sec {
        padding: 20px 0 0;
        width: 100%;
    }

    .dashbaord-post-user {
        width: auto;
    }

    .post-username {
        padding: 8px 10px;
        width: auto;
    }

    .dashbaord-post-time {
        padding: 0 10px;
        width: auto;
        margin: 8px 0;
    }

    .dashbaord-post-sndpri {
        padding: 0 10px;
        width: auto;
        margin: 8px 0;
    }

    .dashbaord-post-rply{
       margin: 8px 0;
    }

    .dashbaord-msg-post textarea, .dashbaord-msg-post select {
        height: 60px;
    }

    .dashbaord-msg-post .dash-postbtn {
        height: 59px;
        padding: 10px 20px;
        width: 100px;
    }

    .post-msg{
        text-align: justify;
    }

    .talent-master-btnouter {
        text-align: center;
    }

    .btn.contact-btn, .btn.requestbtn{
        float: none;
    }

    .master-average-inner {
        text-align: center;
        width: 100%;
    }

    .talentmasbanner-pro-middlesec {
        float: left;
        width: 100%;
    }

    .talentmasbanner-pro-middlesec-outer {
        float: left;
        position: relative;
        text-align: center;
        width: 100%;
    }

    .master-banner-socail {
        float: none;
        position: absolute;
        text-align: center;
        top: 20px;
        width: 100%;
    }

    .master-average-inner {
        margin: 70px 0 0;
        text-align: center;
        width: 100%;
    }

    .talent-master-topouter {
        min-height: 500px;
    }

    .talentmaster-banner-title-inner {
        margin-top: 10px;
    }

    .talentmasbanner-pro-middlesec .map-rightpannal-imginner {
        float: none;
        margin: 20px auto auto;
        width: 100%;
    }

    .student-hour-inner {
        font-size: 16px;
    }

    .student-details-left {
        border-right: medium none;
        width: 100%;
    }

    .student-degree-right {
        border-top: 1px solid #38c0cb;
        float: left;
        margin-top: 10px;
        padding-top: 20px;
        width: 100%;
    }

    .student-degree-information {
        float: left;
        padding: 0;
        width: 100%;
    }

    .fee-structure {
        padding: 15px;
        width: 100%;
    }

    .fees-deatis-left {
        width: 100%;
    }

    .fees-deatis-right {
        float: left;
        margin: 15px 0 0;
        width: 100%;
    }

    .fee-sechdule {
        padding: 15px;
        width: 100%;
    }

    .fee-sechdule .fee-structure-left {
        width: 100%;
    }
    .fee-sechdule .fees-deatis-right {
        padding-left: 0;
    }

    .phondvideo-videosection {
        width: 100%;
    }

    .phondvideo-photosection {
        float: left;
        width: 100%;
    }

    .phondvideo-photobox {
        margin: 15px 0 0 8px;
        padding: 10px;
        width: 48%;
    }

    .mypolicies-section h2,
    .reviews-section h2,
    .photondvideos-section h2
    {
        font-size: 28px;
    }

    .talentmaster-banner-title-inner h2 {
        font-size: 26px;
    }

    .talentmaster-banner-title-inner p {
        font-size: 15px;
    }

    .talentnook-profile-topprifle-curcleimg .rightrating-img {
        width: 20%;
    }

    .talentnook-profile-left {
        margin-top: 60px;
        width: 100%;
        padding-bottom: 6px;
    }

    .talentnook-profile-middle {
        border-left: medium none;
        border-right: medium none;
        float: left;
        margin: 10px 0;
        min-height: auto;
        padding-top: 0;
        text-align: center;
        width: 100%;
    }


    .talentnook-profile-right {
        float: left;
        margin: 10px 0 30px;
        text-align: center;
        width: 100%;
    }

    .talentnook-profile-hostby {
        float: left;
        margin: 13px 0 0;
        text-align: center;
        width: 100%;
    }

    .talentmaster-banner-title-inner h2 {
        font-size: 25px;
        margin-bottom: 8px;
        margin-top: 6px;
    }

    .talentmasbanner-pro-middlesec .rightrating-img {
        width: 20%;
    }

    .fetured-banner-box {
        margin-bottom: 10px;
        padding-bottom: 15px;
        width: 48%;
    }

    .fetured-top-circleimg img {
        margin-top: -50px;
    }

    .fetured-banner-box:nth-child(3) {
        margin: 72px 8px 0 0;
    }


    .home-available-sort-pannal{
        top: 26%;
    }

    .conditonal-search .home-search-pannal {
        padding: 0;
        width: 100%;
    }

    .leftpannal.search-condition-dropdown{
        width: 42%;
    }

    .zipMsg {
        display: inline-block;
        font-size: 13px;
        height: 21px;
        margin: 15px 0 0;
        width: 100%;
    }

    .home-searchbar-tabs ul li a{
        padding: 18px 15px;
    }

    .conditonal-search .homesearch-input{
        width: 60%;
    }
    .homesearch-input{
        width: 60%;
    }
    /*.conditonal-search-menu button span{
        margin: 3px 0;
        width: 28px;
    }*/

}

@media only screen and (width: 640px) {
    .talentmasbanner-pro-middlesec .rightrating-img {
        width: 15%;
    }

    .dashbaord-msg-post textarea, .dashbaord-msg-post select {
        height: 60px;
    }

    .dashbaord-msg-post .dash-postbtn {
        height: 59px;
        padding: 10px 20px;
        width: 100px;
    }

    .post-msg{
        text-align: justify;
    }

}

/*@media only screen and (max-width: 639px) {} */
@media only screen and (max-width: 479px) {
    .how-it-works-title p {
        margin: 15px 0 30px;
    }
    .cms-mobile {
        min-height: 185px;
    }
    .foot-logo {
        width: auto;
    }
    .btn.ask-btn {
        width: auto;
    }
    .skill-ortelents-inputbtn-inner {
        width: 100%;
    }
    .skill-ortelents-inputbtn-inner input {
        width: 100%;
    }
    .homecheckbox + label span {
        margin: 2px 4px 0 0px;
    }
    .homecheckbox + label {
        font-size: 14px;
    }
    .home-topslider {
        height: 90%;
    }
    .img-color-overlay {
        height: 97%;
    }
    .homesearch-input {
        margin: 10px 0;
        width: 100%;
    }
    .home-search-pannal {
        padding: 0;
        width: 100%;
    }
    .zipcode-input {
        width: 35%;
    }
    
    .map-tooltip {
        left: 9%;
        top: 12px;
        width: 81%;
    }
    .map-imginner {
        width: 60px;
    }
    .map-tooltip-title {
        font-size: 13px;
    }
    .map-tooltip-text {
        font-size: 13px;
    }
    .address-input {
        width: 100%;
        margin-bottom: 10px;
    }
    .available-sort-select {
        margin-bottom: 10px;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    .available-sort-select:last-child {
        margin-right: 0px;
    }
    .cap-1 h3 {
        font-size: 18px;
        margin: 0;
    }
    .cap-1 p {
        font-size: 10px;
        margin: 4px 0 0;
    }
    .advance-listview-chaeck {
        padding-top: 10px;
    }
    .home-topslider .carousel-indicators {
        margin-bottom: 0;
    }
    .rightrating-img {
        left: 92px;
        position: absolute;
        top: 202px;
        width: 35%;
    }
    .middle-imginner {
        margin: 15px 0 0;
    }
    .rightpannal-middleimg {
        margin: 40px 50px 30px;
    }
    .rightpannal-details-third {
        padding: 16px 0 0;
        width: 100%;
    }
    .rightpannal-details-secound {
        padding: 0 0 0 13px;
        width: 70%;
    }
    .rightpannal-details-first {
        width: 30%;
    }
    .right-detilis-top {
        min-height: auto;
    }
    .schoudle-heading {
        width: 100%;
    }
    .btn.view-profile,
    .btn.interstedbtn {
        margin-bottom: 10px;
        width: 100%;
    }
    .cap-2 {
        display: none;
    }
    .list-view-topsection {
        height: auto;
    }
    .list-view-top-talentnook-tab {
        float: left;
        text-align: center;
        width: 100%;
    }
    .list-view-select-outer {
        float: left;
        width: 100%;
    }
    .available-sort-select.list-view-select {
        width: 75%;
        margin-bottom: 0;
    }
    .list-view-top-talentnook-tab li {
        padding: 22px 6px 0;
    }
    .list-view-top-talentnook-tab li a {
        padding-bottom: 4px;
    }
    .list-view-top-talentnook-tab li {
        height: 50px;
        padding: 22px 6px 0;
    }
    .list-view-talentMaster {
        height: 400px;
        text-align: center;
        width: 100%;
    }
    .list-view-talimginner {
        display: inline-block;
        float: none;
        width: 70px;
    }
    .list-view-talentmastercontent {
        padding: 0;
        width: 100%;
    }
    .list-view-talentmastercontent-rating > h3 {
        width: 100%;
    }
    .list-view-talentmastercontent-rating .map-tooltip-rating {
        float: left;
        padding-left: 0;
        padding-top: 15px;
        width: 100%;
    }
    .list-view-talentmastercontent-rating > h3 {
        margin: 8px 0 0;
        width: 100%;
    }
    .list-view-tag {
        margin: 10px 3px 0 0;
    }


    .rightrating-img i:nth-child(5) {
        right: -6px;
        top: 18px;
    }

    .common-modal .modal-dialog {
        margin: 10px;
        width: auto;
    }



    .post-userimg {
        width: 24px;
    }

    .post-username {
        font-size: 13px;
        padding: 3px 5px;
    }

    .dashbaord-post-time {
        font-size: 13px;
        padding: 0 5px;
    }

    .dashbaord-post-sndpri {
        padding: 0 3px;
        width: auto;
    }

    .dashbaord-post-rply {
        float: right;
        margin: 5px 0;
        padding: 0 2px;
    }

    .dashbaord-post-rply span {
        display: none;
    }

    .dashbaord-post-sndpri a{
        font-size: 13px;
    }

    .dashbaord-post-subchild-inner {
        padding-left: 10px;
    }

    .dashbaord-post-time {
        margin: 4px 0;
    }

    .dashbaord-post-sndpri {
        margin: 4px 0;
    }

    .dashbaord-top-search{
        padding: 20px 0;
    }


    .dashbaord-msg-post .dash-postbtn {
        border-radius: 5px;
        float: right;
        height: auto;
        margin-top: 15px;
        padding: 6px 20px;
        position: static;
        width: 82px;
    }

    .dashbaord-msg-post textarea, .dashbaord-msg-post select {
        height: auto;
    }


    .btn.requestbtn{
        margin-left: 0;
        margin-bottom: 10px;
    }

    .master-banner-socail ul li {
        padding-left: 2px;
    }

    .talent-master-topouter {
        min-height: 555px;
    }

    .talentmasbanner-pro-middlesec .middle-imginner {
        margin: 0;
    }

    .talentmaster-banner-title-inner {
        margin-bottom: 0;
    }

    .talentmasbanner-pro-middlesec .rightrating-img {
        left: 35%;
        top: 124px;
        width: 29.5%;
    }

    .talentmaster-banner-title-inner h2{
        font-size: 26px;
    }

    .talentmaster-banner-title-inner p {
        font-size: 14px;
    }

    .master-student-deatils {
        width: 92%;
    }

    .fees-group-discount {
        font-size: 13px;
    }

    .reviews-totalrevie {
        font-size: 16px;
        padding: 10px 0 0;
        text-align: center;
        width: 100%;
    }

    .mypolicies-section h2,
    .reviews-section h2,
    .photondvideos-section h2
    {
        font-size: 24px;
    }

    .phondvideo-photobox {
        margin: 15px 0 0;
        padding: 10px;
        width: 100%;
    }

    .mypolicies-section p {
        text-align: justify;
        font-size: 14px;
    }

    .about-mesection p {
        text-align: justify;
    }

    .rightpannal-middleimg{
        width: 50%;
    }

    .student-hour-inner {
        font-size: 14px;
    }



    .talentmaster-banner-title-inner h2 {
        font-size: 18px;
    }

    .talentmaster-banner-title-inner p {
        font-size: 13px;
    }

    .talentnook-profile-topprifle-curcleimg .rightrating-img {
        top: -4px;
        width: 35%;
    }

    .rightpannal-middleimg {
        width: 36%;
    }

    .talentnook-profile-top p {
        font-size: 15px;
        padding-left: 6px;
        width: 90%;
    }

    .tnook-profilehost-profile {
        width: 40px;
    }

    .profile-middle-title {
        font-size: 22px;
    }

    .talentmasbanner-pro-middlesec .rightpannal-middleimg {
        margin: 0 16px;
        width: 36%;
    }

    .talentmasbanner-pro-middlesec {
        margin: 36px 0;
    }

    .talentnook-profile-topprifle-curcleimg .rightpannal-middleimg {
        margin-top: 30px;
    }

    .talentnook-profile-topprifle-curcleimg .rightrating-img {
        left: 31%;
        top: 26px;
        width: 35%;
    }


    .fetured-banner-box{
        width: 100%;
    }

    .fetured-banner-box:nth-child(2) {
        margin: 60px 0 0 0;
    }

    .fetured-banner-box:nth-child(3) {
        margin: 60px 0px 60px 0;
    }

    .feathured-banner h2{
        font-size: 28px;
    }

    .fetured-top-circleimg {
        width: 40%;
    }

    .fetured-banner-box h2 {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .fetured-banner-box > p{
        font-size: 15px;
    }

    .fetured-banner-box-inner {
        margin: 45px 0 0;
    }

    .fetured-banner-toptext{
        font-size: 15px;
    }
    .leftpannal.search-condition-dropdown{
        width: 68%;
    }

    .homesearch-input {
        
    }

    .conditonal-search .home-search-pannal {
        padding: 0;
        width: 100%;
    }
    .home-srchbtn{
        width: 40px;
    }
    .conditonal-search .homesearch-input{
        margin: 0 6px;
        width: 46%;
    }
    .homesearch-input{
        margin: 0 6px;
        width: 46%;
    }

    /*welcome*/
    .featured-matter-bx-in {
      width: 100%;
      margin: 30px 0 50px 0px;
    }
}