@media only screen and (max-width:1400px) {
body{font-size:13px;}
.inr-bnr-sec h1 {font-size: 60px; margin-bottom:65px;}
.revw h3 {font-size: 42px;}
.revw .rev-txt {margin-top: 6px;}
.revl-ruls h4 {font-size: 14px; margin-bottom: 10px;}
.revl-rul-row {line-height: 22px; padding: 15px;}
.typ-prof {font-size: 14px; min-height: 28px; padding: 14px 10px 16px 52px;}
.typ-prof i {
  left: 12px;
  top: 12px;
  width: 24px;
}
.rev-star i {
  width: 22px;
}
.rev-star {width: 186px;}
.prof-pic {border:4px solid #fff; height: 198px; width: 198px; clear:both;}
.rev-star i:nth-child(3) {
  left: 84px;
  top: -30px;
}
.rev-star i:nth-child(2) {
  left: 36px;
}
.rev-star i:nth-child(4) {
  left: 130px;
}
.about-sec {
  font-size: 14px;
  padding: 100px 0 50px;
}
.headding-2 {
  font-size: 36px;
  margin-bottom: 20px;
}
.talent-sec h2 {
  font-size: 18px;
  margin-bottom: 20px;
}
.talent-sec h2 i {
  
  margin-right: 15px;
  width: 44px;
}
.tlnt-txt {
  line-height: 24px;
  margin-bottom: 42px;
}
.tlnt-list li {
  min-height: 28px;
  padding: 0 0 18px 36px;
}
.talent-sec {
  padding: 35px 0;
}
.tstmonl-sec {
  padding: 70px 50px 0;
}
.review-col h2 {
  font-size: 30px;
  margin-bottom: 14px;
}
.review-col p {
  color: #4f5053;
  line-height: 22px;
}
.tstimonl-divide {
  margin-top: 40px;
}
.headding-2 span {margin-top: 2px;}
.video-sec {
  padding: 50px 0 50px;
}
.img-glry {
  width: 42%;
}
.clndr-txt {
  line-height: 22px;
}
.calander-wrap {
  margin-top: 30px;
}
.calander-sec {
  padding: 50px 0;
}
.blue-sec h5 {
  font-size: 34px;
}
.footer {
  line-height: 50px;
  padding: 0 50px;
}
.header {
  padding: 8px 50px;
}
.container {
  max-width: 1150px;
}
.cmn-btn {height: 38px; line-height: 38px; padding: 0 18px;}
.prof-type-col {
  width: 30%;
}
.revl-ruls {
  width: 30%;
}
.blue-sec {
  padding: 30px 0;
}
.contact {
  padding: 0 60px;
}
.mar-L10 {
  margin-left: 5px;
}
.last-login {
  font-size: 12px;
  right: 50px;
  top: 15px;
}
.inr-bnr-sec {
  padding: 90px 0 50px;
}
.revw h3 sub {
  font-size: 13px;
}
.hdr-prof-col {
  width:392px;
}

.tab-wrap .nav-tabs > li > a {
  font-size: 16px;
  padding: 25px;
}
.filter-col {
  padding-top: 18px;
}
.srch-inp {
  font-size: 14px;
  height: 38px;
}
.custom-select {
  height: 38px;
}
.custom-select select{height: 37px;}
.ordr-by-labl {
  font-size: 14px;
}
.howit-work-sec {
  padding: 60px 0;
}
.clndr-txt {
  font-size: 14px;
}
.howit-work li h3 {
  font-size: 20px;
  margin-bottom: 25px;
}
.howit-work li p {
  font-size: 16px;
}
.newslatter-sec {
  padding: 60px 0;
}
.mail-inp {font-size: 16px;
  height: 52px;
  padding-left: 15px;
}
.btn-become {
  height: 52px;
  padding: 0; font-size:14px;
}
.share-txt {
  font-size: 18px;
  margin: 25px 0;
}

.check_box input.css-checkbox[type="checkbox"] + label.css-label {
  font-size: 16px;
}
.btn-srch {
  font-size: 14px;
  height: 38px;
  line-height: 38px;
  padding: 0 20px;
}
.custom-select .slct-line {
  right: 36px;
}

.howit-work {
  margin-left: -5%;
  width: 105%;
}
.howit-work li {
  margin-left: 5%;
  width: 28.333%;
}
.howit-work li::after {
  right: -10%;
}

/*=============slider==========*/
.cap-2 {
  padding-top: 10%;
}
.main-slider .carousel-caption h3 {
  font-size: 42px;
  padding-bottom: 20px;
}
.main-slider .carousel-caption p {
  font-size: 20px;
  line-height: 32px;
}
.cap-1 {
  padding-top: 20%;
}
/*=============slider==========*/

.prof-inner h5 {
  font-size: 32px;
  margin-bottom: 50px;
}
.prof-inner .revw h3 {
  font-size: 50px;
}
.prof-inner .revw .rev-txt {
  font-size: 16px;
}
.prof-inner h6 {
  font-size: 20px;
  margin-bottom: 20px;
}
.prof-inner p {
  font-size: 14px;
}
.btn-blk {
  font-size: 14px;
  height: 40px;
  line-height: 40px;
}
.prof-inner {
  padding: 32px 20px;
}
.tgl-vw-prof {
  padding-top: 30px;
}
}


@media only screen and (max-width:1279px) {
.container{
  max-width: 1024px;
}
.logo-main {width: 160px;}
.header {
  padding: 6px 25px;
}
.btn-req {margin-left: 10px;  padding: 0 24px;}
.top-nav ul li {
  line-height: 13px;
  padding: 0 15px;
}
.last-login {
  right: 25px;
}
.top-right {
  line-height: 42px;
  padding-top: 2px;
}
.inr-bnr-sec {
  padding: 70px 0 45px;
}
.inr-bnr-sec h1 {
  font-size: 45px;
  margin-bottom: 50px;
}
.revw h3 {
  font-size: 30px;
}
.revw h3 sub {
  font-size: 12px;
}
.review-row {
  margin-top: 25px;}
.about-sec {
  font-size: 13px;
  padding: 70px 0 40px;
}
.about-sec p {
  line-height: 24px;
}
.headding-2 {
  font-size: 30px;
  margin-bottom: 15px;
}
.talent-sec {
  padding: 30px 0;
}
.talent-sec h2 {
  font-size: 16px;
  margin-bottom: 15px;
}
.tlnt-txt {
  line-height: 22px;
  margin-bottom: 35px;
}
.tlnt-list li {
  padding: 0 0 16px 36px;
}
.tlnt-list li i {
  top: -1px;
  width: 20px;
}
.tstmonl-sec {
  padding: 50px 25px 0;
}
.tstimonl-divide {
  margin-top: 30px;
}
.review-col h2 {
  font-size: 26px;
  margin-bottom: 12px;
}
.testimonl-txt {
  line-height: 22px;
  padding: 60px;
}
.tstimonl-1 {
  left: 15px;
  top: 15px;
  width: 32px;
}
.tstimonl-2 {
  bottom: 115px;
  right: 15px;
  width: 32px;
}
.tstmonil-people h3 {
  font-size: 13px;
  margin-bottom:5px;
}
.client-img {
  border: 2px solid #fff;
  height: 64px;
  margin-bottom: 8px;
  width: 64px;
}
.video-sec {
  padding: 40px 0;
}	
.img-glry {
  width: 44%;
}
.img-glry ul li {
  margin: 1%;
  width: 31.333%;
}
.calander-sec {
  padding: 40px 0;
}
.clndr-txt {
  line-height: 20px;
}
.blue-sec h5 {
  font-size: 35px;
}
.blue-sec {
  padding: 30px 0;
}
.contact {
  padding: 0 50px;
}
.footer {
  padding: 0 25px;
}
.hdr-prof-col {
  width: 308px;
}
.revl-ruls, .prof-type-col {
  width: 32%;
}
.cmn-btn {
  height: 36px;
  line-height: 36px;
  padding: 0 12px;
}
.ftr-socials a {
  width: 30px;
}
.ask-q {
  padding: 0 20px;
}
.footer {
  font-size: 12px;
}

.howit-work li p {
  font-size: 14px;
  line-height: 25px;
}
.howit-work li h3 {
  font-size: 18px;
  margin-bottom: 18px;
}
.howit-work li .howit-icn {
  margin-bottom: 30px;
}

.howit-work-sec, .newslatter-sec {
  padding: 50px 0;
}
.mail-inp {
  font-size: 14px;
  height: 46px;
}

.btn-become {
  height: 46px;
}

.share-txt {
  font-size: 16px;
  margin: 20px 0;
}

.check_box input.css-checkbox[type="checkbox"] + label.css-label {
  font-size: 14px;
  padding-top: 4px;
}

.howit-icn.full > img {
  width: 80px;
}

/*======slider======*/
.main-slider .carousel-caption h3 {
  font-size: 32px;
  padding-bottom:15px;
}
.main-slider .carousel-caption p {
  font-size: 16px;
  line-height: 26px;
}
.cap-2 {
  padding-top: 8%;
}
/*======slider======*/
}


@media only screen and (max-width:1023px) {
.tab-wrap .nav-tabs > li > a {
  font-size: 14px;
  padding: 20px;
}
.filter-col {
  padding-top: 12px;
}
.srch-inp {
  width: 250px;
}

.custom-select {
  width: 220px;
}	
.clndr-txt {
  font-size: 13px;
}
.howit-work li h3 {
  font-size: 16px;
  margin-bottom: 15px;
}
.howit-work li .howit-icn {
  margin-bottom: 28px;
}
.howit-work li p {
  font-size: 13px;
  line-height: 22px;
}

.howit-icn.full > img {
  width: 70px;
}
.howit-work {
  padding-top: 40px;
}
.howit-work-sec, .newslatter-sec {
  padding: 40px 0;
}

/*======slider======*/
.cap-2 {
  padding-top: 25px;
}
.cap-1 {
  padding-top: 15%; padding-left:20px;
}
.main-slider .carousel-caption h3 {
  font-size: 26px;
  padding-bottom: 10px;
}
.main-slider .carousel-caption p {
  font-size: 14px;
  line-height: 24px;
}
/*======slider======*/

.prof-inner {
  padding:25px 15px;
  width: 500px;
}
.prof-inner h5 {
  font-size: 24px;
  margin-bottom: 40px;
}
.prof-inner .revw h3 {
  font-size: 40px;
}
.prof-inner .revw .rev-txt {
  font-size: 14px;
}
.prof-inner h6 {
  font-size: 18px;
  margin-bottom: 14px;
}
.prof-inner p {
  font-size: 13px;
}
.tgl-vw-prof {
  padding-top:20px;
}
}

@media only screen and (max-width:991px) {

.inr-bnr-sec h1 {
  font-size: 40px;
  margin-bottom: 46px;
}
.hdr-prof-col {
  width: 480px; margin-bottom:15px;
}
.revl-ruls, .prof-type-col {
  width: 100%;
  margin-top: 25px;
}
.headding-2 {
  font-size: 25px;
}
.about-sec p {
  line-height: 22px;
}
.about-sec {
  padding: 40px 0 30px;
}
.talent-sec {
  padding: 25px 0;
}
.testimonl-col {
  width: 52%;
}
.review-col {
  padding-top:20px;
  width: 44%;
}
.review-col h2 {
  font-size: 20px;
  margin-bottom: 8px;
}
.tstimonl-divide {
  margin-top: 20px;
}
.video-sec {
  padding: 30px 0;
}
.img-glry {
  width: 45%;
}
.calander-sec {
  padding: 30px 0;
}
.blue-sec h5 {
  font-size: 25px;
}
.blue-sec {
  padding: 25px 0;
}
.footer {
  padding: 0 15px;
  line-height: 42px;
}
.tstmonl-sec {
  padding: 40px 0px 0;
}
.header {
  padding: 6px 15px;
}
.prof-pic {
  height: 160px;
  width: 160px;
}
.rev-star {
  width: 160px;
}
.rev-star i:nth-child(3) {
  left: 72px;
}
.rev-star i:nth-child(2) {
  left: 30px;
}
.rev-star i:nth-child(4) {
  left: 110px;
}
.last-login {
  right: 15px;
}

.mail-wrap {
  width: 767px;
}

.btn-become {
  height:42px;
  width: 240px;
}

.mail-inp {
  width: 515px; height: 42px;
}
.share-txt {
  font-size: 14px;
  margin: 15px 0;
}

.howit-work {
  margin-left: -4%;
  width: 104%;
}
.howit-work li {
  margin-left: 4%;
  width: 29.333%;
}
.howit-work li::after {
  right: -8%;
}
.srch-inp, .custom-select {
  width: 200px;
}
.btn-srch {
  font-size: 13px;
  padding: 0 15px;
}
.ordr-srch {
  padding: 0 5px;
}

.tab-wrap .nav-tabs > li > a {
  font-size: 12px;
  padding: 20px 15px;
}
.filter-col {
  padding-top: 8px;
}

.ftr-links{margin-left: 0;}
.header{position: relative;}
.search-homeheader{margin-top: 0;}
#listView{width: 100% !important;}
#listView .container{padding: 0;}
#listView .container .col-md-12{margin: 0 !important;}
.list-dtl{display: none; position: absolute; right: -95%; width: 95%; height: 100%;}
.tab-sub > li > a{font-size: 13px !important;}
.list-tabs{width: 100%;}
}


@media only screen and (max-width:767px) {
	.inr-bnr-sec h1 {
  font-size: 30px;
  margin-bottom: 35px;
}
.inr-bnr-sec {
  padding: 48px 0 30px;
}
.hdr-prof-col {
  width: 420px;
}
.tlnt-list li {
  width: 100%;
}
.tlnt-list li br{display:none;}
.tlnt-txt {
  line-height: 20px;
  margin-bottom: 25px;
}
.testimonl-col {
  width: 100%;
}
.review-col {
  width: 100%;
}
.video-col {
  width: 100%; text-align:center; margin-bottom:15px;
}
.img-glry {
  width: 100%;
}
.img-glry ul li img{width:100%;}
.blue-sec h5 {
  font-size: 20px;
}
.contact {
  padding: 0 20px;
}
.ask-q {
  padding: 0 10px;
}
.ftr-socials a {
  width: 26px;
}
.tstmonl-sec {
  padding: 30px 0 0;
}
.btn-req {
  margin-left: 5px;
  padding: 0 20px;
}
.top-nav ul li {
  padding: 0 12px;
}

.filter-col {
  border-bottom: 1px solid #dadada;
  float:left;
  padding: 10px 0;
  width: 100%;
}
.howit-work {
  margin-left: 0%;
  width: 100%;
}
.howit-work li { margin:0px;
  margin-top: 30px;
  width: 100%; height:auto !important;
}
.howit-work li h3 {
  margin-bottom: 10px;
}
.howit-work {
  padding-top: 0;
}
.mail-wrap {
  width: 100%;
}
.mail-inp {
  width: 100%;
}
.btn-become {
  width: 100%;
  margin-top: 10px;
}
.howit-work li:after{display:none;}
.tab-wrap .nav-tabs > li > a {
  padding:15px;
}

.prof-inner {
  padding:20px 10px;
  width: 300px;
}
.prof-inner h5 {
  font-size: 18px;
  margin-bottom: 35px;
}
.prof-inner .revw h3 {
  font-size: 30px;
}
.prof-inner .revw .rev-txt {
  font-size: 12px;
}
.prof-dtl {
  padding: 25px 0 0;
}
.prof-inner h6 {
  font-size: 16px;
  margin-bottom: 10px;
}
.slide-toggle {
  left: -18px;
  width: 18px;
}

#googleMap{height:350px !important;}
.mail-icn{left: 0%;}
.call-icn{right: 0%}

.link-01{font-size: 13px;}
.mid_top_bx{margin-top: 0;}
.profile_tx{margin: 15px 0; font-size: 30px; text-align: center;}
.profile-head .pull-left, .profile-head .pull-right{width: 100%; padding: 0;}
.profile_bx{background: none !important;}
.profile-submit{padding-left: 0; width: 100%;}
.mid_top_bx{height: 255px; background-repeat: repeat;}
.button{padding: 10px 25px;}

}

@media only screen and (max-width:639px) {
  .footer-modal .log-signup-pop, .log-signup-pop{width: 94% !important;}
.logo-main {
  width: 100%;
  text-align: center;
}
.top-right {
  line-height: 38px;
  padding-bottom: 10px;
  padding-top: 15px;
  text-align: center;
  width: 100%;
}
.inr-bnr-sec h1 {
  font-size: 25px;
  margin-bottom: 30px;
}
.hdr-prof-col {
  width: 100%;
}
.footer {
  line-height: normal;
  padding: 15px;
}
.copyrght {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}
.ftr-links {
  width: 100%;
}
.contact {
  padding: 10px 20px;
}
.ftr-socials {
  width: 100%;
  margin-top: 15px;
}
.blue-sec h5 br{display:none;}
.clndr-txt br{display:none;}
.ordr-by-labl {
  width: 100%; margin-bottom:5px;
}
.srch-inp, .custom-select {
  width: 100%;
}
.filter-col {
  width: 100%;
}
.ordr-srch {
  padding: 0;
  width: 100%; margin:10px 0px;
}
.btn-srch {
  width: 100%;
}

/*========slider======*/
.cap-2{display:none;}
.cap-1 {
  padding-left: 0;
  padding-top:0px;
  position: relative;
  width: 100%;
}
.main-slider .carousel-caption p {
  font-size: 12px;
  line-height: 18px;
}
.main-slider .carousel-caption h3 {
  font-size: 20px; padding-bottom:5px;
}
.main-slider .carousel-indicators li, .main-slider .carousel-indicators li.active {
  height: 10px;
  width: 10px;
}
/*========slider======*/

#googleMap{height:250px !important;}
.mail-icn{left: -5%;}
.call-icn{right: -5%}
}

@media only screen and (max-width:479px) {
  .log-signup-pop .modal-header h4{font-size: 16px !important;}
  .footer-modal .log-signup-pop, .log-signup-pop{width: 93% !important;}
	.inr-bnr-sec h1 {
  font-size: 20px;
}
.about-sec {
  padding: 30px 0;
}
.testimonl-txt {
  line-height: 20px;
  padding: 45px;
}
.img-glry ul li {
  width: 48%;
}
.top-nav {
  width: 100%;
}
.review-row {
  margin-top: 10px;
  display: block;
}
.revw {
  display: block;
  width: 100%; margin:10px 0px;
}
.cmn-btn {
  margin: 5px 0;
  padding: 0;
  width: 100%;
}
.revl-ruls, .prof-type-col {
  margin-top: 20px;
}
.hdr-prof-col{margin-bottom:10px;}
.last-login {width:100%; text-align:center; right:0px;}
.btn-become{margin-top:10px;}
.main-slider .carousel-caption{padding:10px;}
.prof-dtl {padding: 10px 0 0;}

.mail-icn{left: -8%;}
.call-icn{right: -8%}

.btn-login {
    font-size: 16px;
    height: 44px;
    line-height: 43px;
}

.socil-link {
    font-size: 16px;
    height: 44px;
    line-height: 43px;
} 
}
