/* Scss Document */
/*html, body{height:100%; min-height:100%; max-height:100%;}*/

/*============================Login Page=========================*/
@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansitalic';
    src: url('../fonts/opensans-italic-webfont.woff2') format('woff2'),
         url('../fonts/opensans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*=================================*/
body {font-size:14px; padding:0px; margin:0px; font-weight:normal; font-family: 'open_sansregular'; color:#6a6a7d; background:#f5f6fa;}
ul, li{padding:0px; margin:0px; list-style-type:none;}
a{text-decoration:none !important; transition: all 0.5s ease-in-out 0s; -webkit-transition: all 0.5s ease-in-out 0s;}
a img {border: none; }
.clearfix{clear:both;}
img { max-width: 100%; }
h1, h2, h3, h4, h5 { font-weight: normal; padding:0px; margin:0px;}
.full, footer, header{ width: 100%; float: left; }
.fleft {float: left; }
.fright {float: right; }
.clear {clear: both; font-size: 0px; }
.center {text-align: center; }
.right {text-align: right; }
.relative {position: relative;}
label{font-weight:normal;}
.dis-block{ display:inline-block;}
p{padding:0px; margin:0px;}
*{outline:none !important;}
.search-homeheader{margin-top: 80px;}
/*=================================*/

.header{padding:10px 80px; position: fixed; z-index: 88; background: #fff;}
.header .fadded-border{
  position: absolute;
  width:100%;
  height:4px;
  left: 0px;
  bottom: 0px;
  
  filter:alpha(opacity=80);
  -moz-opacity:0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;

  background-image: linear-gradient( #011c2f, #0bb0bf );
}
.logo-main{float:left;}
.top-right{float:right; line-height:50px; padding-top:5px;}
.btn-req{display:inline-block; vertical-align:top; font-family: 'open_sanssemibold'; background:#0bb0bf; color:#fff; text-transform:uppercase; font-size:13px; padding:0px 28px; border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -webkit-border-radius:4px; border:0px; margin-left:15px;}
.btn-req:hover{background:#011c2f; color:#fff;}
.top-nav{display:inline-block; vertical-align:top;}
.top-nav ul li{display:inline-block; font-family: 'open_sanssemibold'; text-transform:uppercase; padding:0px 20px; border-right:solid 1px #4c5667; line-height:14px;}
.top-nav ul li:last-child{border-right:solid 0px #4c5667;}
.top-nav ul li a{display:inline-block; color:#4c5667;}
.top-nav ul li a:hover{color:#011c2f;}



.inr-bnr-sec{background:#011c2f; padding:110px 0px 130px 0px; text-align:center;}
.inr-bnr-sec h1{ color:#fff; text-transform:uppercase; font-size:68px; margin-bottom:80px; font-family: 'open_sansbold'; display:block; text-align:center;}

.hdr-prof-col{display:inline-block; width:410px; text-align:center;}
.prof-pic{width:220px; height:220px; border-radius:100%; -moz-border-radius:100%; -ms-border-radius:100%; -webkit-border-radius:100%; overflow:hidden; border:solid 5px #fff; display:inline-block; vertical-align:top;}
.prof-pic img{border-radius:100%; -moz-border-radius:100%; -ms-border-radius:100%; -webkit-border-radius:100%; display:inline-block; vertical-align:top; width: 100%;}

.review-row{display:table; width:100%; margin-top:30px;}
.revw{display:table-cell; width:50%;}
.revw h3{ color:#dfe366; font-size:48px; font-family: 'open_sansbold';}
.revw .rev-txt{display:block; color:#fff; font-family: 'open_sansbold'; margin-top:10px;}
.revw h3 sub{font-size:14px; font-family: 'open_sansregular';}

.rev-star{display:inline-block; width:205px; position:relative;}
.rev-star i{position:absolute; cursor:pointer;}
.rev-star i:hover .s-img-1, .rev-star i.active .s-img-1{ display:none;}
.rev-star i:hover .s-img-2, .rev-star i.active .s-img-2{ display:inline-block;}
.rev-star i .s-img-2{ display:none;}
.rev-star i:nth-child(1){bottom: -24px; left: 0;}
.rev-star i:nth-child(2){bottom: 0; left: 44px;}
.rev-star i:nth-child(3){left: 94px; top: -34px;}
.rev-star i:nth-child(4){bottom: 0; left: 144px;}
.rev-star i:nth-child(5){bottom: -24px; right: 0;}

.revl-ruls{float:left; width:28%; text-align:center; color:#fff;}
.revl-ruls h4{color:#dfe366; font-family: 'open_sansbold'; font-size:16px; margin-bottom:12px; display:block;}

.revl-ruls-box{border:solid 1px #007da5; font-family: 'open_sanssemibold';}
.revl-rul-row{float:left; width:100%; text-align:center; padding:17px; line-height:24px; border-bottom:solid 1px #007da5;}
.rul-txt{padding-bottom:28px;}
.adrs-row span{float:left; width:100%; color:#dfe366;}
.bdr-0{border:0px !important;}
.ph-mail{position:relative; padding-left:45px; min-height:29px; text-align:left; margin-bottom:12px;}
.ph-mail i{position:absolute; left:0px; top:0px;}
.revl-ruls a{color:#fff;}
.revl-ruls a:hover{color:#007da5;}
.marB-0{margin-bottom:0px;}
.prof-type-col{width:28%; float:right;}
.prof-type{width:100%; float:left; border:solid 1px #007da5; font-family: 'open_sanssemibold';}
.typ-prof{position:relative; padding:16px 15px 16px 60px; min-height:29px; text-align:left; display:block; color:#fff; font-size:16px; text-transform:uppercase; border-bottom:solid 1px #007da5;}
.typ-prof i{position:absolute; left:15px; top:14px;}
.btn-row{margin-top:20px;}
.cmn-btn{display:inline-block; vertical-align:top; background:#0bb0bf; color:#fff; font-size:13px; padding:0px 22px; border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -webkit-border-radius:4px; border:0px; height:40px; line-height:40px; font-family: 'open_sanssemibold';}
.cmn-btn:hover{background:#dfe366; color:#011c2f;}
.mar-L10{margin-left:10px;}

.about-sec{ background:#fff; padding:150px 0px 60px 0px; color:#6a6a7d; font-size:16px; text-align:center;}
.headding-2{color:#6a6a7d; font-size:42px; font-family: 'open_sanslight'; margin-bottom:24px; text-align:center; float:left; width:100%;}
.headding-2 span{float:left; width:100%; margin-top:5px;}
.about-sec p{line-height:28px;}


.talent-sec{ background:#e2e667; padding:40px 0px;}
.talent-sec h2{color:#007da5; font-family: 'open_sansbold'; font-size:20px; margin-bottom:25px; display:block;}
.talent-sec h2 i{ margin-right:18px; position:relative; top:-2px; display: inline-block;}
.tlnt-txt{color:#414041; line-height:28px; margin-bottom:50px;}

.tlnt-list li{position:relative; width:50%; padding:0px 0px 22px 38px ; min-height:29px; color:#414041; font-family: 'open_sansbold'; float:left;}
.tlnt-list li i{position:absolute; left:0px; top:0px;}

.tstmonl-sec{ padding:95px 80px 0px 80px;}
.testimonl-col{float:left; width:50%; position:relative;}
.review-col{float:right; width:40%; text-align:center; padding-top:30px;}
.review-col h2{color:#007da5; font-family: 'open_sansbold'; font-size:38px; margin-bottom:15px; display:block; text-transform:uppercase;}
.review-col p{color:#4f5053; line-height:26px;}
.tstimonl-1{position:absolute; left:18px; top:18px; z-index:999;}
.tstimonl-2 {
  bottom: 125px;
  position: absolute;
  right: 20px;
  z-index: 999;
}

.testimonl-txt{display:block; color:#4f5053; font-family: 'open_sansitalic'; font-size:12px; line-height:24px; background:#e6e7e8; padding:70px 62px; position:relative;}

.carousel-control{background:none !important; bottom:72px; width:25px; height:19px; top:inherit; opacity:1;}
.left.carousel-control{left:18px;}
.right.carousel-control{right:18px;}

.tstmonil-people{ position:absolute; left:50%; transform:translateX(-50%); -moz-transform:translateX(-50%); -ms-transform:translateX(-50%); -webkit-transform:translateX(-50%); text-align:center; bottom:-84px;}
.tstmonl-sec .carousel-inner{padding-bottom:100px;}
.client-img{display:inline-block; border-radius:100%; -moz-border-radius:100%; -ms-border-radius:100%; -webkit-border-radius:100%; width:76px; height:76px; margin-bottom:10px; border:solid 3px #fff;}
.tstmonil-people h3{color:#007da5; font-family: 'open_sansbold'; font-size:14px; text-transform:uppercase; margin-bottom:6px; float:left; width:100%;}
.tstmonil-people h4{color:#929394; font-family: 'open_sansregular'; font-size:12px; float:left; width:100%;}
.tstimonl-divide{height:1px; background:#dcdcde; margin-top:50px;}

.video-sec{padding:60px 0px 80px 0px;}
.video-col{padding:4px; border:solid 1px #d6dcdf; width:50%; float:left;}
.video-col i.play-icon{ position:absolute; left:50%; top:50%; transform:translate(-50%,-50%); -moz-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); z-index:999; cursor:pointer;}
.video-col i.play-icon:hover{ opacity:0.6;}

.img-glry{float:right; width:40%;}
.img-glry ul{float:left; width:100%;}
.img-glry ul li{padding:4px; border:solid 1px #d6dcdf; float:left; margin:1.5%; width:30.333%;}
.calander-sec{background:#0b7fa1; padding:60px 0px;}
.clndr-txt{color:#fff; line-height:26px; font-family: 'open_sanssemibold'; text-align:center; font-size:16px;} 
.calander-sec h2.headding-2{color:#fff;}
.calander-wrap{margin-top:38px;}

.blue-sec{padding:55px 0px; background:#0a3756; color:#fff; padding: 30px 0px;}
.blue-sec h5{color:#fff; font-size:42px; font-family: 'open_sanslight'; line-height:normal;}


.footer{background:#fff; padding:0px 80px; font-size:13px; line-height:58px;}
.copyrght{float:left; color:#0bb0bf; font-family: 'open_sansregular'; text-align:left;}
.copyrght a{color:#0bb0bf;}
.copyrght span{color:#939598;}
.ftr-links{display:inline-block; vertical-align:top; text-transform:uppercase; font-family: 'open_sansbold'; margin-left: -245px;}
.ftr-links a{display:inline-block;}
.contact{color:#fff; background:#0bb0bf; padding:0px 80px;}
.ask-q{padding:0px 25px; color:#0bb0bf; text-decoration:underline !important;}
.ftr-socials{float:right;}
.ftr-socials a{display:inline-block; margin-left:2px;}
.ftr-socials a:hover{opacity:0.6;}
.last-login{position:absolute; right:80px; top:20px; font-size:13px; color:#0bb0bf;}
.prof-pic-full{display:block;}


/*=====================2may2017==================*/
.main-slider .item:after{ background:rgba(1, 28, 47, 0.7); content:""; left:0px; top:0px; position:absolute; width:100%; height:100%;}
.slide-img img{width:100%;}
.main-slider .carousel-caption{left:0px; right:0px; top:0px; bottom:0px; height:100%; width:100%;}
.cap-row{float:left; width:100%; height:100%;}
.cap-1{position:absolute; width:60%; padding-top:30%; left:0px;}
.cap-2{position:relative; float:right; width:42%; padding-top:18%;}
.main-slider .carousel-caption h3{font-size:52px; font-family: 'open_sanssemibold'; padding-bottom:25px;}
.main-slider .carousel-caption p{font-size:23px; line-height:36px;}
.main-slider .carousel-indicators li {background-color:#a0a1a4; border:0px; border-radius:33px; height:16px; width: 16px;}
.main-slider .carousel-indicators li.active {background-color: #0bb0bf; height: 16px; margin: 1px; width: 16px;}
.map-img img{width:100%;}


.filter-col{float:right; padding-top:20px;}
.custom-select{padding:0; margin:0; background:#fff url(../images/drop-arrow.png) no-repeat right; position:relative; display:inline-block; height:44px; width:180px; position:relative;}
.custom-select select{line-height:1.42857; height:43px;text-overflow:ellipsis; width:100%; border:none; outline:none; box-shadow:none; background-color:transparent; background-image:none; -moz-appearance:none; -webkit-appearance:none; -ms-appearance:none; -o-appearance:none; appearance:none; display:block;  padding:0px 34px 0px 12px; margin:0px; border:solid 1px #c4cacd; border-radius:6px; -moz-border-radius:6px; -ms-border-radius:6px; -webkit-border-radius:6px; font-size:16px; color:#5c6677;}

.custom-select .slct-line{position:absolute; right:42px; top:0px; height:100%; z-index:2; background:#c4cacd; width:1px;}


.ordr-by-labl {
  color: #000000;
  font-size: 16px;
  padding-right: 10px;
  padding-top:9px;
  vertical-align: top; margin:0px;
}

.howit-work-sec{background:#0b7fa1; padding:80px 0px;}
.howit-work-sec h2.headding-2{color:#fff;}
.howit-work{padding-top:50px; width:107%; margin-left:-7%;}
.howit-work li{float:left; width:26.333%; margin-left:7%; color:#fff; text-align:center; position:relative;}
.howit-work li h3{color:#fff; font-size:25px; font-family: 'open_sansbold'; margin-bottom:30px; text-align:center; float:left; width:100%; text-transform:uppercase;}
.howit-work li p{ font-size:18px; line-height:28px;}
.howit-work li .howit-icn{margin-bottom:40px;}
.howit-work li:after{position:absolute; right:-15%; top:0px; height:100%; width:1px; background:#2aaad0; content:"";}
.howit-work li:last-child:after{display:none;}


.newslatter-sec{padding:80px 0px; text-align:center;}
.mail-wrap{display:inline-block; width:840px; padding-top:10px;}

.mail-inp{height:62px; font-size:18px; padding-left:20px; width:526px; float:left;}
.btn-become{height:62px; line-height:62px; text-transform:uppercase; font-size:16px; float:right; width:300px; padding:0px !important;}

.check_box {
  display: inline-block;
  vertical-align: middle;
}
.check_box input.css-checkbox[type="checkbox"] {
  display: none;
}
.check_box input.css-checkbox[type="checkbox"] + label.css-label {
  background: url(../images/chk.png) no-repeat left top;
  display: inline-block;
  margin: 0;
  min-height: 26px;
  padding: 0 0 0 40px;
  text-align: left;
  vertical-align: middle;
  color: #0bb0bf;
  font-size: 18px;
  cursor: pointer;
  float: none;
  width: auto; 
}
.check_box input.css-checkbox[type="checkbox"]:checked + label.css-label {
  background: url(../images/chk_a.png) no-repeat left top;
}
.share-txt{ font-size:20px; margin:28px 0px; float:left; width:100%;}

/*.view-map-sec .tab-content{position:relative; display:inline-block; width:100%; vertical-align:top;}*/
.prof-box{position:absolute; right:0px; top:0px; background:#0ab0be; color:#fff; z-index:80; } 
.prof-inner{float:left; display:none; width:600px; padding:50px 32px;}
.slide-toggle {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  float: left;
  left: -24px; top:20px;
  position: absolute; padding:0px;
}
.prof-inner .hdr-prof-col{width:100%;}
.prof-inner h5 {
  color: #fff;
  display: block;
  font-family: "open_sansbold";
  font-size: 40px;
  margin-bottom: 58px;
  text-align: center;
  text-transform: uppercase;
}
.prof-inner .revw .rev-txt{font-size:18px;}
.prof-inner .revw h3 {font-size: 60px;}

.prof-inner h6{color:#fff; font-size:25px; font-family: 'open_sanssemibold'; margin-bottom:25px; text-align:center; float:left; width:100%; text-transform:uppercase;}
.prof-inner p{font-size:16px;}
.prof-dtl{padding:12% 0 0 0px;}

.btn-blk{display:inline-block; vertical-align:top; background:#011c2f; color:#fff; font-size:16px; padding:0px 28px; border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -webkit-border-radius:4px; border:0px; height:44px; line-height:44px; font-family: 'open_sanssemibold';}
.btn-blk:hover{background:#dfe366; color:#011c2f;}
.tgl-vw-prof{padding-top:40px;}
.prof-inner .hdr-prof-col{margin:0px !important;}

.alert{float: left; width: 100%; text-align: center;}

#map-canvas img {
  max-width: none !important;
}
.gm-style-iw {
  width: 250px !important;
  top: 0px !important;
  left: 0px !important;
  background-color: #fff;
  overflow: hidden !important;

}
#iw-container {
  margin-bottom: 10px;
}
#iw-container .iw-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  font-weight: 400;
  padding: 10px;
  background-color: #48b5e9;
  color: white;
  margin: 0;
  border-radius: 2px 2px 0 0;
}
#iw-container .iw-content {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  margin-right: 1px;
  padding: 15px 5px 20px 15px;
  max-height: 140px;
  overflow-y: auto;
  overflow-x: hidden;
}
.iw-content img {
  float: right;
  margin: 0 5px 5px 10px; 
}
.iw-subTitle {
  font-size: 16px;
  font-weight: 700;
  padding: 5px 0;
}
.iw-bottom-gradient {
  position: absolute;
  width: 326px;
  height: 25px;
  bottom: 10px;
  right: 18px;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}
.g-pad-0{padding: 0;}
.gmap-rightinfo{padding: 7px 10px; font-weight: 400; font-size: 15px}
/*.modal{
  overflow: auto !important;
}*/
.modal-body{
  padding: 0px;
  margin: 0 auto;
  font-size: 12px;
  width: 86%;
}
.modal-body .col-md-12{padding: 0;margin: 8px 0; position: relative;}
.modal-body label{color: #a4aaae; font-weight: normal; width: 100%; display: inline-block;} 
/*.modal-content{width: 350px; margin: 0 auto;}*/
.modal-body .error{position: absolute; font-size: 11px; color: red; font-weight: 500; top: 0; right: 0;}
.modal-header{
  color: #000;
  text-align: center;
  padding: 20px 0 20px 0;
  position: relative;
  border-bottom: 0px;
}
.modal-title{
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}
.modal-open, .modal{padding-right:0px !important;}

.btn-primary{background-color: #0bb0bf !important; color: #fff !important}
.btn-primary:hover{background-color: #dfe366 !important; color: #011c2f !important;}

.frgt-links{display:inline-block; width:100%; padding-top:32px;}
.color-green{ color:#0bb0bf !important;}
.or-sup{display:inline-block; width:100%; padding:15px 0px; font-size:18px; color:#323a45;}


.prof-str img{width: 16px;}


.prof-wrap{display:inline-block; width:100%;}
.prof-dtl-row{display:inline-block; width:100%; text-align:center;}
.prof-dtl-row .prof-pic {height: 166px; width: 166px;}
.prof-dtl-row .rev-star i {width: 20px;}
.prof-dtl-row .rev-star {width: 160px;}


.prof-dtl-row .rev-star i:nth-child(1) {bottom: 12px; left:0px;}
.prof-dtl-row .rev-star i:nth-child(2) {bottom: -12px; left: 30px;}
.prof-dtl-row .rev-star i:nth-child(3) {left: 74px; top:0px;}
.prof-dtl-row .rev-star i:nth-child(4) {bottom: -12px; left: 114px;}
.prof-dtl-row .rev-star i:nth-child(5) {bottom: 12px; right: 0;}

.prof-name{display:inline-block; width:100%; padding-top:48px;}
.prof-name h5{display:inline-block; width:100%; font-family: 'open_sansbold'; font-size:20px; color:#fff; padding-bottom:5px; text-transform:uppercase;}
.prof-name h6{display:inline-block; width:100%; font-family: 'open_sansregular'; font-size:18px; color:#dfe366;}
.fee-activ{display:inline-block; text-align:left; width:100%; font-size:16px; padding-bottom:25px;}
.active-tbl th{ color:#abb4bc; padding:2px 5px; font-weight:normal;}
.active-tbl td{ color:#fff; padding:5px;}
.dtl-row{display:inline-block; width:100%; padding-top:8%; text-align:left;}
.active-tbl th span, .active-tbl td span{ color:#dfe366;}

.dtl-row h3{padding:0px 0px 4px 5px; margin:0px; font-size:16px; color:#abb4bc;}
.week-tbl th{ color:#dfe366; padding:2px 5px; font-family: 'open_sanssemibold'; font-weight:normal;}
.week-tbl td{ color:#fff; padding:5px;}
.prof-about{display:inline-block; width:100%;}
.prof-about p{color:#fff;}
.prof-about h3{padding:0px 0px 8px 0px;}
.mail-icn{position:absolute; left:15%; top:50%; transform:translateY(-50%); -moz-transform:translateY(-50%); -ms-transform:translateY(-50%); -webkit-transform:translateY(-50%);}
.call-icn{position:absolute; right:15%; top:50%; transform:translateY(-50%); -moz-transform:translateY(-50%); -ms-transform:translateY(-50%); -webkit-transform:translateY(-50%);}
.prof-dtl-row .hdr-prof-col{width:100%;}

.prof-filter .srch-inp{width:525px;}







.prof-type td{color: #fff; font-size: 14px; text-align: left; border-color: #007da5 !important; padding: 20px 0 20px 20px !important; text-transform: capitalize; }
.table{margin: 0 !important; border:none !important;}
.editProf .row{margin:22px 0 !important;}
.editProf .title{padding: 15px 0 !important; font-size:18px !important;}

.bulletinboard li{
  float: left;
  display: inline-block;
  margin-right: 5%;
}

#flashMessages{position: fixed;top: 69px; left: 0; width: 100%; z-index: 99;}

.reset .row{margin: 15px 0;}

.editProf{margin-top: -130px;}
.top-minus{margin-top: -100px; background: #fff; margin: -100px 0 0 16px; width: 97.5%;}
.edit-icon{    position: absolute;
    width: 195px;
    z-index: 1000;
    right: -69px;
    top: -49px;}

/********************Profile box css***********************/
.mid_top_bx{
    width: 100%;
    float: left; 
    margin-top: 90px;
    background:url(../images/backend_img.jpg) no-repeat;
    background-size: 100%;height: 261px;    
}
.profile_tx{
    font-size: 35px; 
    font-family: 'open_sansbold';   
    color: #ffffff;
    text-transform: uppercase;
    margin: 95px 0px 22px 19px;
}
.bg-white{background: #fff;}
.profile_bx{
    background: #F4F6FA;
    /*position: absolute;
    left: 0px;
    right: 0px;
    top: 250px;*/
}
.pro_img{
    float: left;
    min-height: 108px;
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: -108px;
    background: #fff;
}
.pro_img img{
    width: 150px;
    min-height:136px;
    max-height: 155px;
    text-align: center;
    border-radius: 100%;
    margin-top: -77px;
    border:solid 5px #fff;
    background: lightgrey;
}
.pro_img h3{
    font-size: 25px;
    font-family: 'open_sansbold';
    color: #000000;
    margin-top: 90px;
}
.font-gadgets{
    background-color: #0bb0bf;
    padding: 0px 0px 30px 0px;
    margin-top: 25px;    
}
.font_left_bx{}
.font_left1{
    float: left;
    width: 32%;
}
.fa_material{
    margin-left: 25px;
    border-right: 1px solid #09909d;
    line-height: 30px;
}
.fa_material i{
    font-size: 18px;
    color: #ffffff;
}
.fa_material span{
    font-size: 16px;
    color: #ffffff;
    margin-left: 5px;
}
.font_right_bx{
    
}
.fa_material_right{
    float: left;
    width: 31%;
    margin-left: 25px;
    line-height: 30px;
}
.fa_material_right i{
    font-size: 18px;
    color: #ffffff;
}
.fa_material_right span{
     font-size: 16px;
    color: #ffffff;
    margin-left: 5px;
}
.headline{
    margin: 30px 15px 0px 25px;
}
.head{
    font-size: 20px;
    font-family: 'open_sansbold';
    color: #000000;
}
.headline p{
    font-size: 16px;
    color: #4a4a4a;
    font-family: 'open_sansregular';
    margin-top: 25px;
    line-height: 25px;
}

.headline1{margin: 30px 15px 0px 10px;}
.headline1 p{
    font-size: 16px;
    color: #4a4a4a;
    font-family: 'open_sansregular';
    margin-top: 25px;
    line-height: 25px;
}
.head2_img{
    margin-top: 90px;
}
.head2{
    font-size: 20px;
    font-family: 'open_sansbold';
    color: #000000;
    margin-bottom: 25px;
}
.photo{
    max-width: 457px;
    border: 1px solid #d6dcdf;
  padding: 8px;
}
.head_photo_bx{
    margin-top: 93px;
}
.head3_img{
    float: left;
    padding-right: 13px;
}
.photo1{
    max-width: 250px;
    margin-bottom: 13px;
    border: 1px solid #d6dcdf;
  padding: 8px;
}
.border{
    width: 100%;
    border-bottom: 2px solid #cccccc;
    margin-top: -20px;
}
.back{
    padding: 40px 0px;
    background-color: #ffffff;
    width: 100%;
}
.backend_color{
    background-color: #0a3756;
    padding: 25px 0px;
    width: 100%;
}
/********************Profile box css***********************/
.top-minus{background: #fff; margin: 0 0 0 16px; width: 97.5%;}
.edit-icon{    position: absolute;
    width: 195px;
    z-index: 1000;
    right: -69px;
    top: -49px;}
.profile-info{float: left;width: 100%; border-bottom: solid 1px #ccc; color: #333; padding:35px 0 15px 0;}

.profile-head{margin-top: -30px; padding: 0 50px; margin-bottom: 50px; border-bottom: solid 2px #ccc; position: relative; min-height: 410px;}
.profile-head .fa-pencil{position: absolute; right: 0; font-size: 16px;}
.button{
  color: #fff;
  background: #0bb0bf;
  padding: 10px 35px;
  border: none;
}
.profile-submit{width: 98%; float: left; margin: 30px 0 50px 0; padding-left: 15px;}
.cancel{background: #23527c !important}
.edit-profile-main input[type="text"]{    border: none;color: #333;border-bottom: solid 1px #ccc;margin:35px 0 0 0;border-radius: 0;box-shadow: none; padding: 0;}
.edit-profile-main .alert-danger{background: none; position: absolute; color: red; font-size: 12px; padding-left: 0px; z-index: 99;}
.edit-profile-main .profile-info{border:none !important; padding: 0 !important}
.edit-profile-main input[type="text"]:focus{
    border-bottom: solid 1px #66afe9 !important;
    outline: 0;
}
.edit-profile-main input:disabled,
.edit-profile-main input[disabled]{background: lightgray !important}
.cursor{cursor: pointer;}
/*.footer-modal .log-inp{width: 48%;}*/
.footer-modal input,.footer-modal textarea{padding-left: 15px !important;}
.footer-modal textarea{height: 90px !important;}
/*.footer-modal .log-signup-pop{width: 390px;}*/
.footer-modal .alert-danger{background: none !important; border:none !important;}


.log-signup-pop {
    width: 410px;
}

.log-signup-pop .modal-content{border-bottom:solid 5px #c0c7ce; overflow:hidden;}

.fb-btn{
  background: #424B9A;  
}

.twit-btn{
  background: #FF3354;  
}

.email-btn{
  background: #0bb0bf;  
}

.socil-link{
  width:100%; 
  border-radius:4px; 
  -moz-border-radius:4px; 
  -ms-border-radius:4px; 
  -webkit-border-radius:4px; 
  text-align:center; 
  font-size:16px; 
  font-weight: bold;
  color:#fff; 
  height:45px; 
  line-height:46px;
  display: inline-block;
}

.socil-link:hover{color:#000;}

.hr-space{
  text-align: center;
  margin-bottom: 20px;
}
.login-or{
  background: url('../images/login-or.png');
  width: 360px;
  height: 33px;
}

.login-forgot-link{
  font-size: 14px; 
  text-align: center; 
  margin: 20px 0px 25px 0px;
}
.login-forgot-link a{
  color: #414342;
}

.login-footer{
  height: 45px; 
  background-color: #f0eeef; 
  text-align: center; 
  position: relative; 
}

.login-footer-cnt{
  padding-top: 13px;
  margin: 0 auto;
  font-size: 15px;
}

.btn-login{
  font-size:16px; 
  background:#0bb0bf; 
  color:#fff; 
  border-radius:4px; 
  -moz-border-radius:4px; 
  -ms-border-radius:4px; 
  -webkit-border-radius:4px; 
  display:inline-block; 
  width:100%; 
  height:45px; 
  border:0px;
  font-weight: bold;
  text-transform: uppercase;
}
.btn-login:hover{background:#011c2f;}

.log-inp .form-control{ 
  font-size:13px; 
  color:#787b80; 
  padding-left:65px; 
  height:45px; 
  background:#e3e8ee; 
  border:0px; 
  border-radius:0px; 
  box-shadow:none;
}

.log-inner img{width:20px; padding-top: 5px;}

.log-inp i{
  width:50px; 
  line-height:35px; 
  border-right:solid 2px #fff; 
  position:absolute; 
  left:0px; 
  top:0px; 
  height:100%; 
  text-align:center;
}

.log-inner{display:inline-block; width:100%;}
.log-inp{
  display:inline-block; 
  width:100%; 
  position:relative; 
  margin-bottom:16px;
}

.login-remember{
  font-size: 14px;
  margin-bottom: 20px;
  color: #414342;
}

.rememberme-checkbox{
  width: 16px;
  height: 16px;
  margin: 0px !important;
}

.pas-user-error{
  font-size: 14px;
    width: 100%;
    color: #000;
}

.pas-user-error i{ 
  color:#ff0000; 
  margin-right:5px;
}

.rememberme-cnt{
  width: 125px;
}
.rememberme-text{
  float: left;
  margin-right:5px;
}
.rememberme-input{
  float: left;
  margin-top: 3px;
}
.rememberme-clear{
  clear: both;
}
.signup-checkbox{
  float: left;
  margin-right: 5px;
}
.signup-checkbox-text{
  float: left;
  font-size: 13px;
  width: 80%;
}
.signup-container{
  background: #fff;
    margin: 0px auto 35px auto;
    float: none;
    border-radius: 3px;
}
.resetText{
  font-size: 14px;
  text-align: center;
}
.resetText span{
  font-weight: bold;
}