@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'), url('../fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansitalic';
    src: url('../fonts/opensans-italic-webfont.woff2') format('woff2'), url('../fonts/opensans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'), url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'), url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'), url('../fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansBoldItalic';
    src: url('../fonts/OpenSansBoldItalic.eot');
    src: url('../fonts/OpenSansBoldItalic.eot') format('embedded-opentype'),
         url('../fonts/OpenSansBoldItalic.woff2') format('woff2'),
         url('../fonts/OpenSansBoldItalic.woff') format('woff'),
         url('../fonts/OpenSansBoldItalic.ttf') format('truetype'),
         url('../fonts/OpenSansBoldItalic.svg#OpenSansBoldItalic') format('svg');
}
body {
    margin: 0;
    padding: 0;
    background: #f5f6fa;
}
@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

/*********************** COMMON CSS ****************************/
.error-msg{
    color: #f00;
}
.show{
    display: block;
}
.hide{
    display: none;
}
.zipMsg{
    height: 22px;
}
.align-center{
    text-align: center !important;
}
.form-err-msg{
    color: #F00;
}
/*********************** COMMON CSS ****************************/

/***********************header CSS Start************************/

.header {
    float: left;
    width: 100%;
}
.header .navbar {
    min-height: 80px;
    margin-bottom: 0;
    border-radius: 0px;
    box-shadow: 1px 0px 3px #0a3756;
}
.header .navbar-default {
    border: none;
    background: #ffffff;
}
.header .navbar-brand {
    float: left;
    font-size: 18px;
    height: auto;
    line-height: 20px;
    padding: 17px 15px;
    width: 185px;
}
.navbar-default .navbar-nav > li > a {
    color: #4c5667;
    font-family: "open_sansbold";
    font-size: 14px;
    text-transform: uppercase;
}
.header .navbar-nav > li > a {
    padding: 0;
}
.header .navbar-nav > li {
    padding: 30px 25px;
}
.header .navbar-nav > li.last-child {
    padding: 30px 15px 30px 30px;
}
.head-menu-separator {
    border: 1px solid #4c5667;
    display: inline-block;
    float: left;
    height: 10px;
    margin-top: 34px;
    padding-top: 12px;
    width: 2px;
}
.head-notifi-inner a i {
    font-size: 18px;
    color: #007da5;
}
.head-notifi-inner {
    display: inline-block;
    position: relative;
}
.head-notific {
    background: #0ab1c3 none repeat scroll 0 0;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 20px;
    left: 7px;
    position: absolute;
    text-align: center;
    top: -10px;
    width: 20px;
}
.dropdown.head-rightdropdown {
    padding: 29px 40px 4px 26px !important;
    position: relative;
}
.drop-arrow {
    position: absolute;
    right: -28px;
    top: -2px;
}
.drop-arrow i {
    font-size: 26px;
    padding: 0 4px;
    color: #000000;
}
.head-rightdropdown .drop-arrow .drop-arrow-icon::before {
    content: "\f107";
}
.head-rightdropdown.open .drop-arrow .drop-arrow-icon::before {
    content: "\f106";
}
.head-userimg img {
    border-radius: 50%;
}
.head-userimg {
    float: left;
    left: -10px;
    position: relative;
    top: -12px;
    width: 46px;
}
.head-user-name {
    color: #0ab0c0;
}
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
    background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: #ffffff;
    color: #555;
}
.head-rightdropdown .dropdown-menu {
    border-top: 1px solid #0ab0be;
}
.head-rightdropdown .dropdown-menu {
    left: auto;
    right: 15px;
    padding: 0;
}
.head-rightdropdown .dropdown-menu > li > a {
    border-bottom: 1px solid #d7dbe4;
    padding: 8px 24px;
    color: #010101 !important;
    font-family: 'open_sansregular';
    font-size: 14px;
}
.head-rightdropdown .dropdown-menu > li > a:last-child {
    border-bottom: 0px solid #d7dbe4;
}
.head-rightdropdown .dropdown-menu > li > a:hover,
.head-rightdropdown .dropdown-menu > li > a:focus {
    background: #0ab0be;
    color: #ffffff !important;
}
/***********************header CSS End**************************/
/***********************home-topslider**************************/

.home-topslider {
    float: left;
    height: 90%;
    width: 100%;
}
.homeslider-inner {
    float: left;
    width: 100%;
    position: relative;
}
.img-color-overlay {
    background: #011c2f;
    display: inline-block;
    float: left;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    top: 3px;
    width: 100%;
    z-index: 1;
}
.carousel-caption.slide-caption {
    left: 0;
    right: 0;
    top: 0;
}
.cap-1 {
    float: left;
    margin: 60px 0 0;
    text-align: center;
    width: 54%;
}
.cap-1 h3 {
    font-size: 40px;
    color: #ffffff;
    font-family: 'open_sansbold';
}
.cap-1 p {
    font-size: 20px;
    color: #ffffff;
    font-family: 'open_sansregular';
}
.carousel-itemimg img {
    width: 100%
}
.cap-2 {
    float: right;
    width: 41%;
}
/***********************home-topslider**************************/
/***********************how-it-works css start******************/

.how-it-works {
    background: #0b7fa1 none repeat scroll 0 0;
    float: left;
    padding: 50px 0;
    text-align: center;
    width: 100%;
}
.how-it-works-box {
    border-right: 1px solid #2aaad0;
    float: left;
    padding-right: 25px;
    text-align: center;
    width: 100%;
    min-height: 258px;
}
.how-it-works-box.noborder {
    border-right: none;
    padding-right: 0;
}
.how-it-works-box h3 {
    color: #ffffff;
    font-family: "open_sansbold";
    font-size: 20px;
    margin: 30px 0 20px;
    text-transform: uppercase;
}
.how-it-works-box p {
    font-size: 14px;
    line-height: 28px;
    color: #ffffff;
    font-family: 'open_sansregular';
}
.how-it-works-title {
    margin: 0 auto;
    width: 52%;
}
.how-it-works-title h2 {
    color: #ffffff;
    font-family: "open_sanssemibold";
    font-size: 30px;
    line-height: 24px;
    margin: 0 0 14px;
    text-transform: capitalize;
}
.how-it-works-title p {
    color: #ffffff;
    font-family: "open_sanssemibold";
    font-size: 15px;
    font-weight: normal;
    line-height: 28px;
    margin: 15px 0 55px;
}
/***********************how-it-works css end******************/
/***********************skill-ortelents css start***********************/

.skill-ortelents {
    float: left;
    padding: 40px 0 50px;
    text-align: center;
    width: 100%;
}
.skill-ortelents h2 {
    font-size: 30px;
    color: #6a6a7d;
    font-family: "open_sanssemibold";
    line-height: 32px;
    margin: 0 0 25px;
}
.skill-ortelents-inputbtn-inner {
    float: left;
    width: 100%;
    margin: 35px 0 0;
}
.skill-ortelents-inputbtn-inner input {
    height: 40px;
    width: 300px;
    border: 1px solid #c4cacd;
    padding: 10px;
    border-radius: 4px;
    font-family: 'open_sanslight';
    font-size: 14px;
    color: #6a6a7d;
}
.skill-ortelents-inputbtn-inner .btn {
    height: 40px;
    width: 250px;
    background: #0bb0bf;
    border: 1px solid #0bb0bf;
    color: #ffffff;
    border-radius: 4px;
    font-family: "open_sanssemibold";
    font-size: 15px;
    text-transform: uppercase;
    vertical-align: top;
    margin-left: 4px;
}
.skill-ortelents-botm {
    float: left;
    margin: 20px 0 0;
    width: 100%;
}
.skill-ortelents-botm > p {
    color: #6a6a7d;
    font-size: 15px;
    font-family: 'open_sansregular';
}
.home-skills-checkbox {
    float: left;
    width: 100%;
    margin-top: 10px;
}
.homecheckbox {
    display: none;
}
.homecheckbox + label {
    color: #0bb0bf;
    font-size: 15px;
    font-weight: normal;
    font-family: 'open_sansregular';
    cursor: pointer;
}
.homecheckbox + label span {
    background: rgba(0, 0, 0, 0) url("/tn/assets/images/skill-uncheckicon.png") no-repeat scroll 0 0;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 19px;
    margin: 2px 10px 0 0;
    vertical-align: middle;
    width: 19px;
}
.homecheckbox:checked + label span {
    background: rgba(0, 0, 0, 0) url("/tn/assets/images/skill-checkicon.png") no-repeat scroll 0 0;
}
/***********************skill-ortelents css End***********************/
/***************************Footer CSS Start**********************************/

.footer {
    float: left;
    width: 100%
}
.foot-backtotop {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #fff;
    font-family: 'open_sansregular';
    padding: 10px 0;
    background: #104367;
    cursor: pointer;
}
.foot-backtotop a {
    color: #fff;
    text-decoration: none;
}
.foot-cmslinks-inner {
    float: left;
    width: 100%;
    background: #0a3756;
    padding: 15px 0;
}
.foot-cmslinks {
    float: left;
    width: 100%;
}
.cms-link-title {
    float: left;
    width: 100%;
    font-size: 15px;
    color: #ffffff;
    padding-bottom: 10px;
    font-family: 'open_sansbold';
    text-transform: capitalize;
}
.foot-cmslinks ul {
    margin: 0;
    padding: 0;
}
.foot-cmslinks ul li {
    list-style: none;
    padding-bottom: 10px;
}
.foot-cmslinks ul li a {
    font-size: 14px;
    color: #ffffff;
    text-transform: capitalize;
    text-decoration: none;
    font-family: 'open_sansregular';
    cursor: pointer;
}
.foot-logo-inner {
    float: right;
}
.foot-logo {
    float: right;
    width: 190px;
    margin: 0 0 24px;
}
.btn.ask-btn {
    height: 43px;
    width: 190px;
    background: #0bb0bf;
    font-family: 'open_sansbold';
    font-size: 15px;
    color: #ffffff;
    float: right;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.foot-backtotop:hover {
    background: #1e5982;
}
.foot-btm {
    float: left;
    padding: 12px 0;
    width: 100%;
}
.foot-talentnook {
    float: left;
    font-size: 14px;
    font-family: 'open_sansregular';
    color: #a2a4a7;
    line-height: 40px;
}
.foot-btm-socail {
    float: right;
}
.foot-btm-socail > a {
    display: inline-block;
    padding-left: 6px;
}
/***************************Footer CSS End**********************************/
/****************Commmon CSS Start*****************/

.header-botmsapce {
    margin-top: 80px;
}
/****************Commmon CSS Start*****************/
/****************Search tab CSS Start*****************/

.map-info-style div{
  border-radius: 5px !important;
}

.home-search-section {
    float: left;
    width: 100%;
    position: relative;
}
.home-map-inner {
    float: left;
    width: 100%;
    position: relative;
}
.home-searchbar {
    float: left;
    width: 100%;
    position: relative;
}
.home-searchbar-tabs {
    float: left;
}
.home-searchbar-tabs ul {
    margin: 0;
    padding: 0;
}
.home-searchbar-tabs ul li {
    list-style: none;
    display: inline-block;
    position: relative;
}
.home-searchbar-tabs ul li a {
    color: #4a4a4a;
    display: inline-block;
    font-family: "open_sansbold";
    font-size: 15px;
    padding: 26px 15px;
    text-decoration: none;
    cursor: pointer;
}
/*.home-searchbar-tabs ul li a:hover, */
.home-searchbar-tabs ul li a.active {
    background: #0bb0bf;
    color: #ffffff;
}
/*.home-searchbar-tabs ul li a:hover::after, */
.home-searchbar-tabs ul li a.active::after  {
    background: #0bb0bf none repeat scroll 0 0;
    bottom: -7px;
    content: "";
    display: inline-block;
    height: 15px;
    left: 40%;
    position: absolute;
    transform: rotate(45deg);
    width: 15px;
    z-index: 1;
}
.home-search-pannal {
    float: left;
    padding: 0px 0 0px 10px;
    width: 69%;
}
.zipcode-input {
    float: left;
    height: 34px;
    padding: 10px;
    width: 25%;
    border-radius: 4px;
    border: 1px solid #c4cacd;
}
.homesearch-input {
    border: 1px solid #c4cacd;
    border-radius: 4px;
    float: left;
    height: 34px;
    margin: 0 6px;
    padding: 10px;
    width: 66%;
}
.home-srchbtn {
    height: 34px;
    width: 53px;
    background: #0bb0bf;
    border: none;
    vertical-align: top;
    color: #ffffff;
    padding: 0;
    float: right;
    border-radius: 4px;
    border-bottom: 2px solid #0996a3;
}
.home-srchadvance {
    float: right;
    padding: 26px 0 20px 18px;
}
.home-srchadvance a {
    display: inline-block;
    font-size: 15px;
    color: #007da5;
    font-family: "open_sansbold";
    text-decoration: none;
    cursor: pointer;
}
.home-srchadvance a i {
    padding-left: 6px;
}
.home-available-sort-pannal {
    background: #3e6277 none repeat scroll 0 0;
    float: left;
    opacity: 0.9;
    padding: 16px 0;
    width: 100%;
    position: absolute;
    top: 72px;
    z-index: 10;
}
.address-input {
    height: 36px;
    width: 50%;
    background: #4d86a0;
    border: 1px solid #224d60;
    border-radius: 4px;
    color: #ffffff;
    font-size: 14px;
    padding: 10px;
    float: left;
    font-family: 'open_sanslight';
}
.available-sort-select {
    float: left;
    width: 154px;
    margin-left: 6px;
}
.available-sort-select select {
    border: 1px solid #224d60;
    padding: 6px;
    width: 100%;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    appearance: none;
    font-family: 'open_sanslight';
    color: #ffffff;
    background: #4d86a0 url("/tn/assets/images/select-icon01.png") no-repeat scroll 100% 0;
    background-color: #4d86a0: 
}
.hide-show {
    /*display: none;*/
}
.map-tooltip {
    background: #fff none repeat scroll 0 0;
    position: absolute;
    top: 100px;
    left: 21%;
    width: 24%;
    border-radius: 6px;
}
.map-tooltip-inner {
    float: left;
    padding: 12px;
    width: 100%;
    position: relative;
}
.map-imginner {
    float: left;
    width: 80px;
}
.map-imginner img {
    border-radius: 50%; max-width: 100% !important;
}
.map-tooltip-content {
    float: right;
    padding-left: 12px;
    width: 75%;
}
.map-tooltip-title {
    color: #000000;
    font-size: 16px;
    text-transform: capitalize;
}
.map-tooltip-title span {
    color: #0db0c1;
}
.map-tooltip-rating {
    float: left;
    margin: 1px 0;
    width: 100%;
}
.map-tooltip-rating i.fa-star {
    font-size: 15px;
    color: #b2b9bf;
    cursor: pointer;
}
.map-tooltip-rating i.fa-star.active {
    color: #0db1bd;
}
.map-tooltip-text {
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 176px;
    font-size: 15px;
    font-family: 'open_sansregular';
}
.map-tooltip-arrow {
    background: #fff;
    bottom: -10px;
    display: inline-block;
    height: 20px;
    left: 47%;
    position: absolute;
    transform: rotate(45deg);
    width: 20px;
}

/* search conditional menu css */
.conditonal-search .homesearch-input{
    width: 66%;
}

/*.conditonal-search-menu button {
    border: medium none;
    padding: 0;
    width: 37px;
    margin: 19px 0 0;
    background: #fff;
}*/

.conditonal-search-menu > span {
    float: left;
    margin-right: 16px;
    font-size: 25px;
    display: inline-block;
    margin-top: 20px;
}

.conditonal-search-menu > span i.fa-bars{
    color: #0bb0bf;
    cursor: pointer;
}

.conditonal-search .conditonal-search-menu {
   display: block;
}

.conditonal-search .home-search-pannal{
    width: 66%;
}

.leftpannal.search-condition-dropdown{
    background: #fff none repeat scroll 0 0;
    border-top: 1px solid #0ab0be;
    border-radius: 5px;
    float: left;
    padding: 0 10px;
    position: absolute;
    top: 60px;
    width: 20%;
    z-index: 10;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
}

.location-error-container{
    text-align: center;
    width: auto;
    min-width: 360px;
    color: #ffffff;
}
.take-email-forlocation{
    width: 325px;
    margin: 0px auto;
}
.take-email-forlocation .home-srchbtn{
    float: none;
}
.take-email-forlocation .address-input{
    width: 200px;
    height: 36px;
    background: #FFF;
    color: #000;
    float: none;
}
.location-cancel, .location-submit{
    float: none;
}
/****************Search tab CSS Start*****************/

/*map-rightpannal css start*/

.map-rightpannal {
    float: right;
    position: absolute;
    right: 0;
    width: 45%;
    top: 0px;
    background: #0bb0bf;
    padding: 20px;
    height: 574px;
}
.map-rightpannal-inner {
    float: left;
    width: 100%;
}
.map-rightpannal-inner-toppannal {
    float: left;
    text-align: center;
    width: 100%;
}
.map-rightpannal-inner-toppannal h2 {
    font-size: 25px;
    color: #ffffff;
    font-family: 'open_sansbold';
    text-transform: uppercase;
    margin-top: 0;
}
.map-rightpannal-inner-toppannal p {
    color: #ffffff;
    font-size: 14px;
    font-family: 'open_sansregular';
}
.map-rightpannal-imginner {
    float: left;
    text-align: center;
    width: 100%;
    margin-top: 4px;
    min-height: 160px;
}
.rightpannal-img-left {
    display: inline-block;
    width: 67px;
}
.rightpannal-middleimg {
    display: inline-block;
}
.rightpannal-rightimg {
    display: inline-block;
    width: 67px;
}
.rightpannal-middleimg {
    display: inline-block;
    margin: 0 50px;
    width: 130px;
}
.rightpannal-middleimg > img {
    background: #fff none repeat scroll 0 0;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 4px;
    display: inline-block;
}
.rightrating-img {
    margin: auto;
    position: relative;
    width: 18%;
}
.middle-imginner {
    float: left;
    margin: 30px 0 0;
    width: 100%;
}
.rightrating-img i:nth-child(1) {
    left: 0;
    position: absolute;
    top: 15px;
}
.rightrating-img i:nth-child(2) {
    position: absolute;
    left: 20px;
    top: 5px;
}
.rightrating-img i:nth-child(3) {
    position: absolute;
    left: 44px;
    top: 2px;
}
.rightrating-img i:nth-child(4) {
    position: absolute;
    left: 70px;
    top: 6px;
}
.rightrating-img i:nth-child(5) {
    position: absolute;
    right: -2px;
    top: 16px;
}
.rightrating-img i {
    font-size: 15px;
    color: #ffffff;
}
.rightrating-img i.active {
    /*color: #faf7a9;*/
    color: #faFF66;
}
.map-rightpannal-btmsec {
    float: left;
    width: 100%;
}
.map-rightpannal-btm-btns {
    float: left;
    width: 100%;
    text-align: center;
}
.map-rightpannal-btm-btns h3 {
    color: #093856;
    font-family: "open_sanssemibold";
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 13px;
    font-style: italic;
}
.btn.view-profile {
    height: 40px;
    width: 35%;
    font-size: 15px;
    831 color: #093856;
    padding: 0;
    border: none;
    /*text-transform: uppercase;*/
    background-color: #eceb6c;
    font-family: 'open_sanssemibold';
}
.map-rightpannal-btm-btns .btn.view-profile{
    margin-right: 10px;
}
.btn.interstedbtn {
    height: 40px;
    width: 35%;
    padding: 0;
    border: none;
    font-size: 15px;
    font-family: 'open_sanssemibold';
    color: #ffffff;
    /*text-transform: uppercase;*/
    background-color: #007da5;
}
.map-rightpannal-btm-schoudle {
    float: left;
    margin: 18px 0;
    width: 100%;
    min-height: 140px;
}
.map-rightpannal-btm-schoudle h4 {
    font-size: 15px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'open_sanssemibold';
}
.schedule-content {
    background: #26b9c6 none repeat scroll 0 0;
    float: left;
    margin-bottom: 2px;
    text-align: left;
    width: 100%;
}
.schoudle-heading {
    background: #3ec1cc none repeat scroll 0 0;
    color: #fff;
    float: left;
    font-family: "open_sanssemibold";
    font-size: 15px;
    padding: 11px;
    width: 20%;
}
.schoudle-text {
    color: #fff;
    float: left;
    padding: 11px;
    font-size: 14px;
    font-family: 'open_sansregular';
    background: #26b9c6 none repeat scroll 0 0;
    width: 80%;
}
.map-rightpannal-btmcontent {
    float: left;
    margin: 25px 0 0;
    text-align: left;
    width: 100%;
    min-height: 46px;
}
.rightpannal-details-first {
    border-right: 1px solid #87d1d8;
    float: left;
    width: 10%;
}
.rightpannal-details-secound {
    border-right: 1px solid #87d1d8;
    float: left;
    padding: 0 0 0 20px;
    width: 30%;
}
.rightpannal-details-third {
    float: left;
    width: 60%;
    padding: 0 0 0 20px;
}
.right-detilis-top {
    color: #fff;
    float: left;
    font-family: "open_sansregular";
    font-size: 14px;
    padding-bottom: 6px;
    width: 100%;
}
.right-detilis-btm {
    float: left;
    width: 100%;
    font-size: 14px;
    color: #ffffff;
    font-family: "open_sanssemibold";
}
.font-reg {
    font-family: "open_sansregular";
}
.rightpannal-arrow {
    background: #0bb0bf none repeat scroll 0 0;
    display: inline-block;
    height: 55px;
    left: -40px;
    padding: 15px;
    position: absolute;
    width: 40px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor: pointer;
}
.rightpannal-arrow i {
    color: #ffffff;
    font-size: 24px;
}
#googleMap{
    height: 574px;
}
/*map-rightpannal css end*/
/*list view css start*/

.list-view-inner {
    background: #f1f9fc none repeat scroll 0 0;
    float: left;
    width: 100%;
    position: relative;
}
.map-rightpannal.list-view-right-sec {
    position: relative;
    width: 50%;
}
.list-view-right-sec .btn.view-profile,
.list-view-right-sec .btn.interstedbtn {
    width: 35%;
}
.list-view-rgt-about {
    float: left;
    text-align: left;
    width: 100%;
}
.list-view-rgt-about h5 {
    font-size: 15px;
    color: #ffffff;
    font-family: "open_sanssemibold";
    text-transform: capitalize;
    margin-top: 0;
}
.list-view-rgt-about p {
    font-size: 15px;
    color: #ffffff;
    font-family: "open_sansregular";
}
.list-view-rgt-about ul {
    display: inline-block;
    margin: 10px 0 20px;
    padding: 0;
}
.list-view-rgt-about ul li {
    background: rgba(0, 0, 0, 0) url("/tn/assets/images/right-pannal-li-icon.png") no-repeat scroll 0 2px;
    list-style: outside none none;
    padding: 0 0 6px 26px;
    font-size: 15px;
    color: #ffffff;
    font-family: "open_sansregular";
}
.rightrating-img.list-view {
    width: 21%;
}
.list-view-topsection {
    float: left;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #d0d0d0;
}
.list-view-top-talentnook-tab {
    float: left;
}
.list-view-top-talentnook-tab ul {
    margin: 0;
    padding: 0;
}
.list-view-top-talentnook-tab li {
    display: inline-block;
    list-style: outside none none;
    padding: 18px;
}
.list-view-top-talentnook-tab li a {
    color: #4b4a48;
    font-size: 16px;
    font-family: 'open_sanssemibold';
    text-decoration: none;
    outline: none;
    display: inline-block;
    padding-bottom: 18px;
    cursor: pointer;
}
.list-view-top-talentnook-tab li a:hover,
.list-view-top-talentnook-tab li a:focus,
.list-view-top-talentnook-tab li a:active,
.list-view-top-talentnook-tab li a.sub-tab-active {
    border-bottom: 2px solid #007da5;
    color: #007ea5;
}
.list-view-topsection-inner {
    float: left;
    width: 100%;
}
.list-view-talentMaster {
    float: left;
    height: 574px;
    overflow: auto;
    width: 50%;
}
.list-view-talimginner {
    width: 58px;
    float: left;
}
.list-view-talimginner img {
    border-radius: 50%;
    border: 1px solid #2abac5;
}
.list-view-talentmastercontent > h2 {
    font-size: 16px;
    margin: 0;
    text-transform: uppercase;
    font-family: 'open_sanssemibold';
    color: #011c31;
}
.list-view-talentmastercontent {
    float: left;
    padding-left: 10px;
    width: 88%;
}
.list-view-talentmastercontent-rating .map-tooltip-rating {
    float: left;
    width: auto;
}
.list-view-talentmastercontent-rating > h3 {
    float: left;
    margin: 0;
    width: auto;
    font-size: 16px;
    font-family: 'open_sanssemibold';
    color: #011c31;
}
.list-view-talentbox {
    float: left;
    width: 100%;
}
.list-view-talentbox {
    border-bottom: 1px solid #c9c9c9;
    float: left;
    width: 100%;
    padding: 20px;
}
.list-view-talentmastercontent-rating {
    float: left;
    margin: 5px 0 0;
    width: 100%;
    cursor: pointer;
}
.list-view-talentmastercontent-rating .map-tooltip-rating {
    float: left;
    padding-left: 10px;
    width: auto;
}
.list-view-talentmastercontent-rating .map-tooltip-rating i {
    font-size: 18px;
}
.list-view-talentmastercontent .tMaster{
    cursor: pointer;
}
.list-view-tag {
    background: #dedede none repeat scroll 0 0;
    border-bottom: 1px solid #bababa;
    border-radius: 4px;
    color: #011c2f;
    display: inline-block;
    font-size: 14px;
    margin: 10px 6px 0 0;
    padding: 7px 12px;
    text-transform: capitalize;
    font-family: "open_sansregular";
}
.list-view-tag i {
    cursor: pointer;
    color: #000;
    padding-left: 2px;
}
.list-view-select-outer > span {
    float: left;
    font-size: 16px;
    padding: 7px 0;
    text-transform: capitalize;
}
.available-sort-select.list-view-select {
    float: right;
    width: 75%;
}
.list-view-select-outer {
    float: right;
    padding: 12px 0;
    width: 22%;
}
.available-sort-select.list-view-select select {
    border: 1px solid #c5cacd;
    border-radius: 4px;
    color: #000000;
    height: 40px;
    background: url("/tn/assets/images/sort-by-select.png") no-repeat scroll 100% 0;
}
.available-sort-select.list-view-select select option {
    color: #000000;
}
.advance-listview-chaeck {
    float: left;
    padding-left: 6px;
    padding-top: 7px;
}
.advance-listview-chaeck .homecheckbox + label {
    color: #ffffff;
}
.available-sort-select {
    float: left;
    margin-left: 6px;
    width: 16%;
}
/*list view css start*/


/*Common-modal Css Start*/
.common-modal .modal-dialog{
    width:  415px;
    margin: 60px auto;
    background: #FFF;
}

.register .modal-dialog{
    box-shadow: 8px 8px 8px 0px #ccc;
}

.common-modal .modal-title {
    color: #000000;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.modal-footer-clickhere{
    font-size: 14px;
    color: #323a45;
    font-family: 'open_sansregular';
}

.modal-footer-clickhere a {
    color: #00a0d3;
    font-family: 'open_sansregular';
}

.modal-label{
    max-width: 95%;
}

.btn.modal-fbbtn {
    background: #3b5999;
    color: #ffffff;
    display: inline-block;
    height: 45px;
    padding: 10px;
    vertical-align: middle;
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: 'open_sanssemibold';
}

.btn.modal-googlebtn {
    background: #ff5a60;
    color: #ffffff;
    display: inline-block;
    height: 45px;
    padding: 10px;
    vertical-align: middle;
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: 'open_sanssemibold';
}

.btn.modal-emailbtn{
    background: #0bb0bf;
    color: #ffffff;
    display: inline-block;
    height: 45px;
    padding: 10px;
    vertical-align: middle;
    width: 100%;
    margin-bottom: 2px;
    font-size: 16px;
    font-family: 'open_sanssemibold';
}

.btn.modal-fbbtn i,
.btn.modal-googlebtn i, .btn.modal-emailbtn i{
    padding-right: 10px;
}

.common-modal .modal-content{
    border: none;
    border-radius: 4px;
}

.modal-seprator-or{
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-bottom: 20px;
}

.modal-seprator-or::before {
    border: 1px solid #e1e1e1;
    content: "";
    display: inline-block;
    position: relative;
    top: 19px;
    width: 100%;
}

.modal-seprator-or > span {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e1e1e1;
    border-radius: 50%;
    display: inline-block;
    font-size: 15px;
    height: 30px;
    padding: 3px 0 0 2px;
    position: relative;
    text-transform: capitalize;
    width: 30px;
    z-index: 4;
}

.modal-input {
    background: #f3f3f3 none repeat scroll 0 0;
    border: 1px solid #dbdbdb;
    color: #323a45;
    font-family: "open_sansregular";
    font-size: 14px;
    height: 42px;
    padding: 10px 10px 10px 50px;
    width: 100%;
} 
.modal-textarea {
    background: #f3f3f3 none repeat scroll 0 0;
    border: 1px solid #dbdbdb;
    color: #323a45;
    font-family: "open_sansregular";
    font-size: 14px;
    height: 100px;
    padding: 10px 10px 10px 50px;
    width: 100%;
}
.modal-input-inner, .multi-chips {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.modal-input-inner span {
    border-right: 1px solid #dbdbdb;
    left: 0;
    padding: 9px 10px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 42px;
}

.modal-input-inner span i{
    font-size: 22px;
    color: #000000;
}

.btn.modal-signbtn{
    height: 45px;
    padding: 0;
    background: #0bb0bf;
    color: #ffffff;
    width: 100%;
    border: none;
    font-family: 'open_sanssemibold';
    font-size: 16px;
    /*text-transform: uppercase;*/
}

a.modal-forgotpass {
    color: #323a45;
    display: inline-block;
    font-family: "open_sansregular";
    font-size: 14px;
    margin: 15px 0 0;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.home-skills-checkbox.modal-checkbox {
    margin: 0 0 15px;
    text-align: center;
}

.common-modal .modal-body {
    padding: 15px 25px;
}

.common-modal .modal-header {
    border-bottom: medium none;
    padding: 35px 25px 15px;
}

.common-modal .modal-footer {
    text-align: center;
    background: #f0efef;
}

.common-modal .modal-header .close {
    margin-top: 0;
    position: absolute;
    right: 16px;
    top: 6px;
    font-size: 32px;
    font-weight: 400;
}

.error{
    color: #f00;
}
/*Common-modal Css End*/


/*Middle banner Css Start*/
.middle-title-banner {
    background: rgba(0, 0, 0, 0) url("/tn/assets/images/banner-bgimg.jpg") no-repeat scroll 0 0 / cover ;
    height: 98px;
    text-align: center;
}
.middle-title-banner h4 {
    color: #ffffff;
    display: inline-block;
    font-family: "open_sanssemibold";
    font-size: 35px;
    margin: 30px 0;
    text-align: center;
    text-transform: capitalize;
    vertical-align: middle;
    width: 100%;
}
/*Middle banner Css End*/

/*Dashbord left section Css Start*/
.leftpannal{
    float: left;
    width: 20%;
}
.leftpannal ul {
    margin: 0 15px 0 0;
    padding: 0;
}
.leftpannal ul li{
    list-style: none;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #dae8ec;
    padding-right: 15px;
    padding: 10px 15px 10px 0 ;
}
.leftpannal ul li.selected{
    border-bottom: 1px solid #000;
}
.leftpannal ul li a {
    color: #4a4a4a;
    display: inline-block;
    font-family: "open_sansregular";
    font-size: 15px;
    text-decoration: none;
    text-transform: capitalize;
    width: 100%;
}

.leftpannal ul li a:hover{
    color: #000000;
}

.leftpannal ul li a i{
    font-size: 20px;
    color: #00aebc;
    padding-right: 4px;
}

.leftpannal ul li a img{
    padding-right: 8px;
}

.leftpannal-subchild {
    float: left;
    width: 100%;
}

.leftpannal-subchild ul{
    margin: 0;
}

.leftpannal-subchild li {
    padding-left: 28px !important;
}


/*Dashbord left section Css End*/

/*dashbaord-right-section Css Start*/

.dashbaord-right-section{
    float: left;
    width: 80%;
    border-left: 1px solid #d9d9d9;
}
.dashbaord-right-section .popover{
    min-width: 400px;
}
.dashbaord-right-section-map{
    width: 100% !important;
}
.dashbaord-top-search {
    background: #f8f8f8;
    border-bottom: 1px solid #d3d3d3;
    float: left;
    padding: 20px;
    width: 100%;
}

.dassearch-input{
    position: relative;
}
.dassearch-input input{
    float: left;
    width: 100%;
    height: 40px;
    padding: 15px;
    border: 1px solid #c4cacd;
    padding: 6px 14px;
    position: relative;
    background: #fff;
    border-radius: 5px;
    color: #6a6a7d;
    font-size: 14px;
    font-family: 'open_sanslight';
}

.dassearch-input i.fa-search{
    position: absolute;
    top: 10px;
    right: 20px;
    color: #0bb0bf;
    font-size: 18px;
}

.dashbaord-bootom-sec {
    float: left;
    padding: 20px 0 20px 20px;
    width: 100%;
}

.dashbaord-msg-post {
    float: left;
    position: relative;
    width: 100%;
}

.dashbaord-msg-post select {
    border: medium none;
    box-shadow: 0 1px 2px 1px #eaebee;
    float: left;
    padding: 10px;
    width: 100%;
    font-size: 14px;
    height: 80px;
    color: #000000;
    border: 1px solid #eaebee;
    font-family: 'open_sansregular';
    resize: none;
    background: #FFF;
}

.dashbaord-msg-post textarea {
    border: medium none;
    box-shadow: 0 1px 2px 1px #eaebee;
    float: left;
    padding: 10px;
    width: 100%;
    font-size: 14px;
    height: 80px;
    color: #000000;
    border: 1px solid #eaebee;
    font-family: 'open_sansregular';
    resize: none;
}

.dashbaord-msg-post .dash-postbtn {
    background: #0bb0bf none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    height: 79px;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 18px;
    /*text-transform: uppercase;*/
    width: 110px;
    font-family: 'open_sanssemibold';
}

.dashbaord-post-inner {
    border-bottom: 1px solid #e1e1e1;
    float: left;
    padding-bottom: 20px;
    width: 100%;
}

.dashbaord-post-details {
    float: left;
    margin: 20px 0 12px;
    width: 100%;
}

.hideForum{
    display: none;
}

.dashbaord-post-user {
    float: left;
    width: auto;
    margin-right: 10px;
}

.post-userimg {
    float: left;
    width: 35px;
}

.post-userimg .img-responsive {
    border-radius: 50%;
}

.post-username {
    color: #007da5;
    float: left;
    font-family: "open_sansbold";
    font-size: 14px;
    padding: 6px 10px 0;
    text-align: center;
    text-transform: capitalize;    
    padding-top: 5px;
    padding-left: 10px;
}

.dashbaord-post-time {
    border-left: 1px solid #b1b1b1;
    border-right: 1px solid #b1b1b1;
    float: left;
    text-align: center;
    font-family: 'open_sansregular';
    padding: 0 10px;
    width: auto;
    font-size: 14px;
    color: #4a4a4a;
    font-family: 'open_sansregular';
    margin: 5px 0;  
}
.dashbaord-post-sndpri {
    border-right: 1px solid #b1b1b1;
    float: left;
    text-align: center;
    margin: 5px 0;
    padding: 0 10px;
}

.dashbaord-post-sndpri a{
    color: #00aebc;
    font-size: 14px;
    font-family: 'open_sansregular';
    text-transform: capitalize;
    text-decoration: none;
}

.dashbaord-post-rply {
    float: left;
    padding: 0 10px;
    margin: 5px 0;
}

.dashbaord-post-rply a{
    color: #00aebc;
    font-size: 14px;
    text-decoration: none;
    font-family: 'open_sansregular';
    text-transform: capitalize;
}

.dashbaord-post-rply a i{
    padding-left: 6px;
}

.post-msg {
    color: #4a4a4a;
    float: left;
    font-size: 14px;
    line-height: 22px;
    width: 100%;
    margin: 0;
    font-family: 'open_sansregular';
}

.post-msg span{
    cursor: pointer;
}

.post-msg a{
    color: #0bb0bf;
    text-transform: capitalize;
}

.dashbaord-post-subchild-inner {
    float: left;
    padding-left: 40px;
    width: 100%;
}

.post-show-more {
    color: #000000;
    float: left;
    font-size: 14px;
    width: 100%;
    /*text-transform: capitalize;*/
    font-family: 'open_sanssemibold';
    margin-top: 20px;
}

.post-show-more span{
    color: #00aebc;
    font-family: 'open_sansregular';
}

.dashbaord-post-subchild-inner .dashbaord-post-inner{
    border-bottom: none;
    padding-bottom: 0;
}
.dashbaord-post-subchild-inner{
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 20px;
}

.post-msgtype {
    float: left;
    position: relative;
    width: 100%;
    margin: 20px 0 0;
}

.post-msgtype input {
    background: #f8f8f8 none repeat scroll 0 0;
    border: medium none;
    float: left;
    height: 45px;
    padding: 10px 15px;
    width: 100%;
    font-family: 'open_sansregular';
    font-size: 14px;
    color: #4a4a4a;
    border-bottom: 1px solid #dfdfdf;
}

.post-msgtype button{
    border: 0px;
    background: transparent;
    position: absolute;
    top: 10px;
    right: 22px;
    font-size: 20px;
    color: #c4c3c3;
    cursor: pointer;
}
.inbox-select-cnt{
    margin-bottom: 10px;
}
.inbox-input-cnt .dash-postbtn{
    top: 50px !important;
}
.inbox-select-cnt .auttosuggest-text{
    color: #4a4a4a;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 240px;
    float: right;
    overflow: hidden;
    margin: 10px 0 10px 0px;
    font-size: 14px;
}
.inbox-select-cnt img{
    width:32px;
    display:inline-block;
    margin:5px 0 2px 5px;
}
.inbox-select-cnt .ui-helper-clearfix{
    border-bottom:1px solid #D5D5D5;
}
.inbox-select-cnt .auto-suggest-highlight{
    color: #FFF !important;
}
.inbox-select-cnt .ui-inputtext{
    color: #6a6a7d;
    height: 40px;
    width: 300px;
    padding: 0px 14px;
}
.inbox-select-cnt .ui-autocomplete-dropdown{
    height: 40px !important;
}
/*dashbaord-right-section Css End*/


/*Talent-master Css Start*/
.talent-master-outer{
    float: left;
    width: 100%;
}
.talent-master-topouter {
    background: rgba(0, 0, 0, 0) url("/tn/assets/images/talent-master-topbanner.jpg") no-repeat scroll 100% 0 / cover ;
    min-height: 430px;
}

.talent-master-btnouter {
    background: #245274 none repeat scroll 0 0;
    float: left;
    width: 100%;
    padding: 15px 0;
}
.btn.contact-btn{
    background: #eceb6d;
    font-size: 15px;
    color: #0a3756;
    font-family: 'open_sanssemibold';
    /*text-transform: uppercase;*/
    float: right;
}

.btn.requestbtn{
    background: #007da5;
    color: #ffffff;
    float: right;
    margin-left: 10px;
    /*text-transform: uppercase;*/
    font-size: 15px;
    font-family: 'open_sanssemibold';
}

/*mypolicies-section css start*/

.mypolicies-section {
    float: left;
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
}


.mypolicies-section h2 {
    color: #6a6a7d;
    font-family: "open_sanssemibold";
    font-size: 35px;
    margin: 25px 0 15px;
    text-transform: capitalize;
}


.mypolicies-section p {
    /*color: #4a4a4a;
    font-size: 15px;*/
    font-family: "open_sansregular";
    margin: 20px 0;
    text-align: left;
}

.mypolicies-section .submit-btn{
    text-align: left; margin: 10px auto 10px auto;
}
.mypolicies-section .add-edit{
    text-align: right;
    margin-top: -26px;
}
.mypolicies-section .add-edit i{
    font-size: 24px;
    color: #000;
    cursor: pointer;
}
.mypolicies-section .add-edit i:hover{
    color: #000;
}

/*mypolicies-section css END*/



/*photondvideos-section css start*/

.photondvideos-section {
    background: #FFF none repeat scroll 0 0;
    float: left;
    padding: 0 0 40px;
    text-align: center;
    width: 100%;
}


.photondvideos-section h2 {
    color: #6a6a7d;
    font-family: "open_sanssemibold";
    font-size: 35px;
    margin: 25px 0 15px;
    text-transform: capitalize;
}

.phondvideo-photosection .delete-media i{
    position: absolute;
    font-size: 16px;
}
.phondvideo-photosection .delete-media{
    font-size: 20px; 
    display: none;
    width: 460px;
    z-index: 20;
    position: relative;
    cursor: pointer;
    line-height: 20px;
    margin-left: -8px;
}
.phondvideo-photosection .showDelete .delete-media{
    display: block;
}
.photondvideos-section .submit-btn{
    text-align: left; margin: 10px auto 10px auto;
}
.photondvideos-section .add-edit{
    text-align: right;
    margin-top: -26px;
}
.photondvideos-section .add-edit i{
    font-size: 24px;
    color: #002b49;
    cursor: pointer;
}
.photondvideos-section .add-edit i:hover{
    color: #00aebc;
}

.videophoto-sec {
    float: left;
    margin: 25px 0 0;
    width: 100%;
}
.phondvideo-videosection {
    /*background: #fff none repeat scroll 0 0;
    border: 1px solid #d6dcdf;
    float: left;
    padding: 10px;
    width: 49%;*/

    background: #fff none repeat scroll 0 0;
    border: 1px solid #d6dcdf;
    float: left;
    padding: 10px;
    display: table-cell;
    width: 582px;
    height: 400px;
    line-height: 380px;
    vertical-align: middle;
    text-align: center;
}

.phondvideo-photosection {
    float: right;
    width: 50%;
    height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.phondvideo-photobox {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #d6dcdf;
    float: left;
    margin: 0 0 16px 11px;
    padding: 10px;
    width: 258px;
    height: 192px;
    line-height: 160px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}
.phondvideo-videosection img, .phondvideo-photobox img{
    max-width:100%; 
    max-height:100%;
    margin:auto;
    display:inline-block;
    vertical-align: top;
}
.video-overlay{
    position:relative;
    margin-top: -108%;
    margin-left: -10px;
    background: #EEE;
    height: inherit;
    width: inherit;
    opacity: 0.3;
    z-index: 10;
}

.media-form-container{
    border: 1px solid #d6dcdf;
}
.media-form-container .top-row{
    padding: 10px;
    height: 51px;
}
.media-form-container .top-row .form-buttons{
    float: right;
    width: auto;
}
.media-form-container .bottom-row .embed-label{
    width: 100%;
}
.media-form-container .bottom-row .url-input{
    height: 34px;
    padding: 10px;
    width: 50%;
    border-radius: 4px;
    border: 1px solid #c4cacd;
}
.photondvideos-section label{
    font-family: "open_sansregular";
}
.media-form-container .bottom-row{
    padding: 10px;
    background: #edf0f6;
    min-height: 104px;
}
.media-form-container .bottom-row .image-upload .upload{
    background: #00b4b7;
}
.media-form-container .bottom-row .image-upload .clear{
    background: #0078a4;
}
.media-form-container .bottom-row .form-err-msg{
    margin-top: 8px;
}


/*photondvideos-section css END*/



/*Reviews-section css start*/

.reviews-section {
    float: left;
    text-align: center;
    width: 100%;
}


.reviews-section h2 {
    color: #6a6a7d;
    font-family: "open_sanssemibold";
    font-size: 35px;
    margin: 25px 0 15px;
    text-transform: capitalize;
}

.reviewsbtm-totalsec {
    float: left;
    width: 100%;
}

.reviews-totalrevie {
    float: left;
}


.reviewsbtm-totalsec {
    background: #eef1f6 none repeat scroll 0 0;
    border-bottom: 1px solid #cacaca;
    float: left;
    margin: 0 0 20px;
    width: 100%;
}

.reviews-btmsec {
    float: left;
    margin: 30px 0 0;
    text-align: left;
    width: 100%;
}

.reviews-totalrevie {
    color: #4a4a4a;
    float: left;
    font-size: 15px;
    padding: 21px;
    font-family: "open_sanssemibold";
}

.reviews-totalrevie > span {
    color: #0bb0bf;
}

.dashbaord-post-details .map-tooltip-rating {
    margin: 0;
    padding: 6px 10px 0;
    width: auto;
}
.seemore{
    float: left;
    width: 100%;
    text-align: center;
    color: #0bb0bf;
    margin: 20px 0;
    font-size: 15px;
    /*text-transform: capitalize;*/
    text-decoration: none;
}
/*mypolicies-section css END*/

/*fee-structure css start*/ 

.fee-structure {
    background: #093856 none repeat scroll 0 0 !important;
    float: left;
    width: 50%;
    padding-top: 15px;
    padding-bottom: 20px;
}
.fee-structure-outer {
    float: left;
    width: 100%;
    color: #fff;
    background: -webkit-linear-gradient(left, #093856, #093856 50%, #002b49 50%, #002b49);
}
.fee-sechdule {
    background: #002b49 none repeat scroll 0 0 !important;
    float: left;
    width: 50%;
    padding:15px 0 20px 30px;
}

.fee-structure-left {
    width: auto;
}
.fee-structure-right {
    float: left;
    width: 100%;
    color: #fff;
}

/*.fee-structure-left h4, .fee-structure-right h4{
    float: left;
    width: 100%;
    font-family: "open_sanssemibold";
    color: #ffffff;
}*/
.fee-structure-left .heading div, .fee-structure-right .heading div{
    width: 50%; float: left;
}
.fee-structure-left .heading .add-edit, .fee-structure-right .heading .add-edit{
    line-height: 38px;
    text-align: right;
    padding-right: 15px;
}
.fee-structure-left .heading .add-edit i, .fee-structure-right .heading .add-edit i{
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}
.fee-structure-left .heading .add-edit i:hover, .fee-structure-right .heading .add-edit i:hover{
    color: #00aebc;
}
.fee-structure-left .heading h4, .fee-structure-right .heading h4{
    color: #FFF;
    font-family: "open_sanssemibold";
}
.fee-structure-right .submit-btn{
    clear: both;
    text-align: left;
}

.fees-deatisouter {
    float: left;
    width: 100%;
}

.fees-details-left {
    float: left;
    width: 90%;
    color: #000;
}

.fees-deatis-right {
    float: left;
    width: 90%;
}

.fee-sechdule .fees-deatis-right{
    padding-left: 25px;
}

.fees-subheading {
    color: #01aebc;
    font-size: 14px;
    font-family: "open_sanssemibold";
}

.fees-prices-inner {
    float: left;
    width: 100%;
}

.fees-discountprices {
    background: #007da5 none repeat scroll 0 0;
    float: left;
    padding: 10px 15px;
    width: auto;
    font-size: 16px;
    font-family: "open_sanssemibold";
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.fees-cureentprices {
    background: #c3d600 none repeat scroll 0 0;
    color: #000000;
    float: left;
    font-family: "open_sanssemibold";
    font-size: 16px;
    padding: 10px 30px 10px 15px;
    position: relative;
    width: auto;
}

.fees-cureentprices::after {
    background: #093856 none repeat scroll 0 0;
    content: "";
    display: inline-block;
    height: 32px;
    position: absolute;
    right: -16px;
    top: 4px;
    transform: rotate(45deg);
    width: 29px;
}


.fees-groupcontent-inner {
    border-bottom: 1px solid #3d5c70;
    float: left;
    padding-bottom: 8px;
    width: 100%;
    margin-bottom: 6px;
}


.everydayfees-prices-inner {
    border-bottom: 1px solid #3d5c70;
    float: left;
    margin-bottom: 6px;
    padding-bottom: 8px;
    width: 95%;
}


.fees-groupcontent-outer {
    float: left;
    width: 100%;
}
.fees-group-number {
    float: left;
    color: #ffffff;
    font-size: 13px;
    font-family: "open_sansregular";
}
.fees-group-discount {
    float: right;
    color: #c3d600;
    font-size: 13px;
    font-family: "open_sansregular";
    width: 55%;
}

.fees-every-day {
    color: #c3d600;
    font-size: 13px;
}

.fee-sechdule .fee-structure-left,
.fee-sechdule .fee-structure-right {
    float: left;
}
.fees-group-discount .input{
    height: 34px;
    padding: 10px;
    width: 130px;
    border-radius: 4px;
    border: 1px solid #0f4567;
    background: #002842;
    color: #fff;
}
.fees-groupcontent-form{
    width: 100%; height: 40px;
}
select.tm-form-select {
    border: 1px solid #0f4567;
    padding: 6px;
    width: 130px;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    font-family: 'open_sansregular';
    color: #ffffff;
    background: #002842 url(/tn/assets/images/schedule-select.png) no-repeat scroll 100% 0;
    background-color: #002842;
}
.tm-form-default-button, .tm-form-skill-button{
    height: 30px;
    padding: 0;
    color: #ffffff;
    width: 72px;
    border: none;
    font-family: 'open_sansregular';
    font-size: 14px;
}
.tm-form-default-button.submit{
    background: #00b4b7;
}
.tm-form-default-button.cancel{
    background: #0078a4;
}
.tm-form-skill-button.submit{
    background: #0f386a;
}
/* FEES SECTION FINISH */


/* SCHEDULE SECTION START */

.form-row{
    height: 38px;
}
.form-row .day, .form-row .start-time, .form-row .end-time, .form-row .action{
    float: left;
}
/*.form-row div{
    float: left;
}*/
.form-row .day{
    width: 30%;
}
.form-row .start-time{
    width: 30%;
}
.form-row .end-tim{
    width: 30%;
}
.form-row .action{
    width: 10%;
    line-height: 35px;
    padding-left: 10px;
}
.form-row .action .delete{
    cursor: pointer; color: #fff;
}
.form-row .input{
    height: 34px;
    padding: 10px;
    width: 130px;
    border-radius: 4px;
    border: 1px solid #0f4567;
    background: #002842;
    color: #fff;
}
.tm-form-select-submitbuttons{
    text-align: right; padding-top: 10px; clear: both;
}
.schedule{
    text-align: left;
}
/*.schedule .form-err-msg{
    color: #F00;
}*/
/* SCHEDULE SECTION FINISH */


/* NEW FEES STRUCTURE */
.fees-structure {
    /*background: #093856 none repeat scroll 0 0;*/
    float: left;
    width: 100%;
    padding: 16px 0px;
}
.fees-structure-outer {
    float: left;
    width: 100%;
    color: #000;
    background: #edf0f6;
}
.fees-sechdule {
    /*background: #002b49 none repeat scroll 0 0;*/
    float: left;
    width: 50%;
    padding:15px 0 20px 30px;
}

.fees-structure-right {
    float: left;
    width: 100%;
    color: #fff;
}

.fees-structure .heading div{
    width: 50%; float: left;
}
.fees-structure-left .heading h4{
    font-family: "open_sanssemibold";
}
.fees-structure .heading .add-edit{
    line-height: 38px;
    text-align: right;
    padding-right: 15px;
}
.fees-structure .heading .add-edit i{
    font-size: 24px;
    color: #002b49;
    cursor: pointer;
}
.fees-structure .heading .add-edit i:hover{
    color: #00aebc;
}
.fees-structure .bottom-fees-container .input{
    height: 34px;
    padding: 10px;
    width: 60px;
    border-radius: 4px;
    border: 1px solid #c4cacd;
}
.fees-structure .bottom-fees-container .price_input{
    width: 86px;
}
.fees-structure .bottom-fees-container .input-dollar{
    height: 34px;
    padding: 10px;
    width: 60px;
    border-radius: 0px 4px 4px 0px;
    border: 1px solid #c4cacd;
}
.fees-structure .top-fees-container, .fees-structure .bottom-fees-container{
    background: #fff;
    border: 1px solid #d6dcdf;
    padding: 15px;
    width: 100%;
    float: left;
    margin-top: 10px;
}
.fees-structure .bottom-fees-container{
    padding: 0px;
    overflow: hidden;
    max-height: 548px;
}
.fees-view-val{
    color: #01aebc;
    font-size: 14px;
    width: 55%;
}
.tm-profile-banner{
    margin-top: 10px; text-align: center;  float: left;
}
.tm-profile-banner div{
    text-align: center; margin: 0px auto;
}

.top-fees-container .top-left-fees, .top-fees-container .top-right-fees{
    width: 50%; 
}
.top-fees-container .top-left-fees{
    float: left;
}
.top-fees-container .top-right-fees{
    float: right;
}   
.top-fees-container .top-left-fees .left-lebel{
    width: 35%; float: left; min-height: 40px;
}
.top-fees-container .top-left-fees .left-input{
    width: 65%; float: left; min-height: 40px;
}
.top-fees-container .top-right-fees .right-lebel{
    width: 40%; float: left; min-height: 40px;
}
.top-fees-container .top-right-fees .right-input{
    width: 60%; float: left; min-height: 40px;
}



.bottom-fees-container{
    width: 100%; clear: both; float: none;
}
.bottom-fees-container table.desktop-grid tr{
    height: 42px;
}

/*.bottom-fees-container table.desktop-grid7 tr th, .bottom-fees-container table.desktop-grid7 tr td{
    width: 50px; text-align: center;
}*/
.bottom-fees-container table.desktop-grid tr th{
    background: #0079a4; 
    color: #fff; 
    font-family: "open_sanssemibold"; 
    font-size: 14px; 
    padding: 5px; 
    width: 14%;
    text-align: center;
}
.bottom-fees-container table.desktop-grid tr td{
    font-size: 14px; 
    padding: 8px; 
    width: 14%; 
    text-align: center;
}
.bottom-fees-container table.desktop-grid tr.odd{
    background: #fbffe4;
}
.bottom-fees-container .delete{
    cursor: pointer;
}
.bottom-fees-container .input{
    height: 34px;
    padding: 10px;
    width: 85px;
    border-radius: 4px;
    border: 1px solid #c4cacd;
}
.top-fees-container select{
    /*width: 122px;
    height: 34px;
    border: 1px solid #c5cacd;
    border-radius: 4px;
    color: #000000;
    background: url(/tn/assets/images/sort-by-select.png) no-repeat scroll 100% 0;
    #4d86a0 url(/tn/assets/images/select-icon01.png) no-repeat scroll 100% 0*/

    height: 34px;
    border: 1px solid #c5cacd;
    padding: 6px;
    width: 106px;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    font-family: 'open_sansregular';
    color: #000000;
    background: url(/tn/assets/images/sort-by-select.png) no-repeat scroll 100% 0;
    /*background-color: #ccc;*/

}
.top-fees-container .dollar-input{
    background: #00b1b7;
    color: #fff;
    width: 26px;
    height: 34px;
    border-radius: 4px 0px 0px 4px;
    border: 1px solid #00b1b7;
    float: left;
    padding: 5px;
    text-align: center;
}
.bottom-fees-container .dollar-input{
    background: #00b1b7;
    color: #fff;
    width: 26px;
    height: 34px;
    border-radius: 4px 0px 0px 4px;
    border: 1px solid #00b1b7;
    float: left;
    padding: 5px;
    text-align: center;
}
.top-fees-container .textareainput{
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #c4cacd;
    width: 100%;
}
.top-fees-container .input-dollar{
    height: 34px;
    padding: 10px;
    width: 80px;
    border-radius: 0px 4px 4px 0px;
    border: 1px solid #c4cacd;
}

/* NEW FEES STRUCTURE FINISH*/

/* ABOUT ME SECTION START */

.about-mesection{
    float: left;
    width: 100%;
    background: #e9fcfd;
    padding: 16px 0;
}

.about-mesection .heading h4{
    font-size: 20px;
    color: #000000;
    font-family: "open_sanssemibold";
    margin: 0 0 6px 0;
}

.about-mesection p {
    /*color: #000000;
    font-size: 14px;*/
    font-family: "open_sansregular";
    line-height: 24px;
    margin: 0;
    clear: both;
}

.about-mesection .heading div{
    width: 50%; float: left;
}
.about-mesection .heading .add-edit{
    line-height: 38px;
    text-align: right;
    padding-right: 15px;
}
.about-mesection .heading .add-edit i{
    font-size: 24px;
    color: #002b49;
    cursor: pointer;
}
.about-mesection .heading .add-edit i:hover{
    color: #00aebc;
}
.about-mesection .submit-btn{
    text-align: left; margin: 10px auto 10px auto;
}

/* about us css end*/ 


.student-degree-outer {
    background: #00aebc none repeat scroll 0 0;
    float: left;
    padding: 16px 0;
    width: 100%;
}

.master-student-deatils > h5 {
    color: #ffffff;
    font-size: 14px;
    font-family: 'open_sansbold';
    font-weight: normal;
    margin: 0 0 4px 0;
}

.master-student-deatils {
    float: left;
    padding-left: 20px;
    width: 96%;
}
.master-student-icon {
    float: left;
    width: 15px;
}
.student-details-left {
    border-right: 1px solid #38c0cb;
    float: left;
    width: 50%;
}
.student-details-left .input{
    height: 34px;
    padding: 10px;
    width: 130px;
    border-radius: 4px;
    border: 1px solid #74c3d0; /*8cffff*/
    background: #0095a9;
    color: #fff;
}

.student-details-left .heading div{
    width: 50%; float: left;
}
.student-details-left .heading .add-edit{
    line-height: 38px;
    text-align: right;
    padding-right: 15px;
}
.student-details-left .heading .add-edit i{
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}
.student-details-left .heading .add-edit i:hover{
    color: #002b49;
}
.student-details-left .heading h4{
    color: #FFF;
    font-family: "open_sanssemibold";
}
.student-details-left .submit-btn{
    clear: both;
    text-align: left;
}
.skills{
    text-align: left;
}
/*.skills .form-err-msg{
    color: #f00;
}*/
.button-padding-right{
    padding-right: 15px;
}

.student-degree-right {
    float: left;
    width: 50%;
}
/*.student-degree-right h4{
    color: #FFF;
    font-family: "open_sanssemibold";
    padding-left: 30px;
}*/
.student-degree-right .heading div{
    width: 50%; float: left;
}
.student-degree-right .heading .add-edit{
    line-height: 38px;
    text-align: right;
    padding-right: 15px;
}
.student-degree-right .heading .add-edit i{
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}
.student-degree-right .heading .add-edit i:hover{
    color: #000;
}
.student-degree-right .heading h4{
    color: #FFF;
    font-family: "open_sanssemibold";
    padding-left: 30px;
}
.student-degree-right .education-container input{
    width: 95%;
    height: 34px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #74c3d0; /*8cffff*/
    background: #0097ac;
    color: #fff;
}
.student-degree-right .language-container input{
    width: 95%;
    height: 34px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #74c3d0; /*8cffff*/
    background: #0097ac;
    color: #fff;
}
.education-container .education-school {
    width: 98.5%; float: left; clear: both; margin: 5px 0px 5px 0px;
}
.language-container .language-school {
    width: 95%; float: left; clear: both; margin: 5px 0px 5px 0px;
}
.education-container .education-degree, .education-container .education-year {
    width: 48%; float: left; margin-bottom: 10px;
}
.education-container .action{
    width: auto; float: left; padding: 0px;
}

.student-degree-right .education-container .education-del{
    display: inline-block; cursor: pointer; color: #FFF;
}
.student-degree-right .language-container .education-del{
    display: inline-block; cursor: pointer; color: #FFF;
}
.student-degree-right .submit-btn{
    clear: both;
    text-align: left;
}


.master-student-deatils > p{
    font-size: 14px;
    color: #ffffff;
    font-family: "open_sansregular";
    margin: 0;
}
.master-student-deatils .talent{
    width: 28%; float: left;
    color: #ffffff;
    font-size: 14px;
    font-family: 'open_sansbold';
    font-weight: normal;
    margin: 0 0 4px 0;
}
.master-student-deatils .talent-exp{
    width: 66%; float: left;
    font-size: 14px;
    color: #ffffff;
    font-family: "open_sansregular";
    margin: 0;
}

.student-info-outer {
    float: left;
    margin: 0 0 15px;
    width: 100%;
}

.student-info-outer .skill-container .skill-container-input{
    width: 95%;
    float: left;
}
.student-info-outer .skill-container .skill-container-input .skill{
    width: 30%;
}
.student-info-outer .skill-container .skill-container-input .exp{
    width: 68%;
}
.student-info-outer .skill-container .skill-del{
    display: inline-block;
    line-height: 34px;
    cursor: pointer;
    color: #FFF;
}

.student-degree-information {
    float: left;
    padding: 0 0 0 30px;
    width: 100%;
}

.student-degree-information ul{
    margin: 0;
    padding: 0;
}

.student-degree-information ul li {
    background: rgba(0, 0, 0, 0) url("/tn/assets/images/degree-icon.png") no-repeat scroll 0 0;
    color: #fff;
    list-style: outside none none;
    padding: 0 0 0 36px;
    font-family: "open_sansregular";
    font-size: 14px;
    margin-bottom: 18px;
}

.student-hoursly-rate-outer {
    float: left;
    width: 100%;
    background: #eceb6c;
}

.student-hoursly-rate-left {
    border-right: 1px solid #c9c849;
    float: left;
    padding: 15px 0;
    text-align: center;
    width: 50%;
}
.student-hoursly-rate-left:last-child{
    border-right: none;
}
.student-hour-inner {
    float: left;
    width: 100%;
    color: #000000;
    font-size: 25px;
    font-family: "open_sansregular";
}

.student-discoutprice {
    font-family: 'open_sansbold';
}

.student-curremtprice {
    font-family: 'open_sansbold';
    color: #00aebc;
}

.student-hoursly-rate-left i{
    color: #00aebc;
    padding-right: 10px;
}

.talentmasbanner-pro-middlesec .map-rightpannal-imginner {
    float: none;
    margin: 20px auto auto;
    width: 470px;
}


.talentmasbanner-pro-middlesec-outer{
    float: left;
    width: 100%;
}

.master-average-inner {
    color: #ffffff;
    float: left;
    font-family: "open_sansregular";
    font-size: 14px;
    margin-top: 20px;
}

.master-average-inner i{
    padding-right: 4px;
    color: #eceb6c;
    font-size: 18px
}

.master-average-inner span{
    font-size: 16px;
    color: #00aebc;
    font-family: "open_sanssemibold";
}

.master-banner-socail {
    float: right;
    margin-top: 20px;
}

.master-banner-socail ul{
    margin: 0;
    padding: 0;
}

.master-banner-socail ul li {
    display: inline-block;
    list-style: outside none none;
    padding-left: 6px;
}

.master-banner-socail ul li a {
    background: #00aebc;
    border: 2px solid #00aebc;
    border-radius: 50%;
    display: table-cell;
    height: 38px;
    text-align: center;
    vertical-align: middle;
    width: 38px;
    color: #ffffff;
    cursor: pointer;
}

.master-banner-socail ul li a:hover {
    background: #ffffff;
    border: 2px solid #00aebc;
    color: #00aebc;
}

.master-banner-socail ul li a i {
    font-size: 20px;
    line-height: 22px;
}

.talentmasbanner-pro-middlesec .rightrating-img {
    width: 22%;
}

.talentmaster-banner-title-inner {
    float: left;
    margin-bottom: 33px;
    margin-top: 18px;
    text-align: center;
    width: 100%;
}
.talentmaster-banner-title-inner .headline-input .input{
    border: none;
    background: transparent;
    color: #fff;
    border-bottom: 1px solid #fff;
    font-size: 16px;
    width: 90%;
}
.talentmaster-banner-title-inner .headline-submit{
    text-align: center;
}

.talentmaster-banner-title-inner h2{
    font-size: 35px;
    color: #ffffff;
    font-family: 'open_sansbold';
    text-transform: uppercase;
}
.talentmaster-banner-title-inner p{
    font-size: 16px;
    font-family: "open_sansregular";
    color: #ffffff;
}
.talentmaster-banner-title-inner p span{
    font-family: "open_sanssemibold";
}

.talentmaster-banner-title-inner p i {
    color: #FFF;
    font-size: 24px;
    padding-right: 10px;
}
.talentmaster-banner-title-inner p i:hover {
    color: #00aebc; /*#002b49;*/
}

.reviews-btmsec .available-sort-select.list-view-select {
    background: #fff none repeat scroll 0 0;
    margin-right: 4px;
}

.talentmaster-banner-title-inner p .fa-pencil-square{
    margin-left: 8px; cursor: pointer;
}


/*Talent-master Css End*/

/*talentnook-profile css start*/
.talent-master-topouter.talentnook-profile {
    border-bottom: 2px solid #c3d600;
    min-height: 946px;
}

.talentnook-profile-outer{
    float: left;
    width: 100%;
}

.talentnook-profile-topinner {
    background: #eceb6c none repeat scroll 0 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    float: left;
    margin-top: 68px;
    min-height: 200px;
    position: relative;
    width: 100%;
}


.talentnook-profile-left {
    float: left;
    padding: 20px;
    width: 33%;
}

.talentnook-profile-top {
    float: left;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.talentnook-profile-top i{
    color: #093856;
    float: left;
    font-size: 24px;
}

.talentnook-profile-top p{
    font-size: 16px;
    color: #093856;
    padding-left: 6px;
    float: left;
    font-family: "open_sanssemibold";
    width: 330px;
}

.talentnook-profile-linkdriving {
    float: left;
    width: 100%;
    padding-left: 22px;
}

.talentnook-profile-linkdriving a{
    font-size: 16px;
    color: #01aebc;
    font-family: "open_sanssemibold";
    text-decoration: underline;
}

.talentnook-profile-hostby {
    float: left;
    margin: 30px 0 0;
    width: 100%;
}

.tnook-profilehost {
    color: #093856;
    float: left;
    font-family: "open_sansbold";
    font-size: 16px;
    padding: 12px 10px 0 0;
    text-transform: capitalize;
}

.tnook-profilehost-profile {
    float: left;
    width: 55px;
}

.tnook-profilehost-profile img{
    border-radius: 50%;
    border: 2px solid #dbdbdb;
    background: #dbdbdb;
}

.tnook-profilehost-pname {
    color: #01aebc;
    float: left;
    font-family: "open_sanssemibold";
    font-size: 16px;
    padding: 12px 0 0 10px;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.talentnook-profile-middle {
    border-left: 1px solid #d1d054;
    border-right: 1px solid #d1d054;
    float: left;
    margin: 10px 0;
    min-height: 200px;
    padding-top: 80px;
    text-align: center;
    width: 33%;
}

.profile-middle-title {
    float: left;
    font-size: 25px;
    text-align: center;
    width: 100%;
    font-family: "open_sansregular";
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile-middle-title span{
    font-family: "open_sansbold";
}

.btn.viewprofile {
    background: #007da5;
    border: medium none;
    color: #ffffff;
    font-size: 14px;
    font-family: "open_sanssemibold";
    /*text-transform: uppercase;*/
    margin: 10px 0 0;
}

.talentnook-profile-right {
    float: left;
    margin: 20px 0 0;
    text-align: center;
    width: 34%;
}

.talentnook-profile-rght-top {
    float: left;
    width: 100%;
}

.talentnook-profile-rght-top i {
    display: inline-block;
    font-size: 24px;
}

.talentnook-profile-rght-top p {
    color: #083756;
    display: inline-block;
    float: none;
    font-family: "open_sanssemibold";
    font-size: 16px;
    padding-left: 10px;
}

.talentnook-profile-right > p {
    color: #083756;
    float: left;
    font-family: "open_sansregular";
    font-size: 16px;
    margin: 4px 0 10px;
    width: 100%;
}

.talentnook-profile-rght-img {
    float: left;
    width: 100%;
}

.talentnook-profile-rght-img img{
    margin: 0 10px;
}

.talentnook-profile-btmimg {
    float: left;
    width: 100%;
    border-top: 1px solid #aaa59c;
}

.talentnook-profile-topprifle-curcleimg {
    position: absolute;
    top: -95px;
    width: 100%;
}

.talentnook-profile-topprifle-curcleimg .rightpannal-middleimg {
    margin: 0;
}

.talentnook-profile-topprifle-curcleimg  .rightrating-img {
    width: 8.7%;
}

.fee-structure,
.fee-sechdule{
    min-height: 50px;
}

.fee-sechdule .fees-group-discount {
    width: 83%;
}

/*talentnook-profile css End*/




/*feathured-banner css start*/ 

.feathured-banner {
    float: left;
    width: 100%;
    min-height: 510px;
    background: rgba(0, 0, 0, 0) url("/tn/assets/images/feathured-banner.jpg") no-repeat scroll 0 0 / cover 
}


.feathured-banner h2 {
    color: #ffffff;
    display: inline-block;
    font-family: "open_sanssemibold";
    font-size: 35px;
    margin: 15px 0 30px;
    text-align: center;
    text-transform: capitalize;
    vertical-align: middle;
    width: 100%;
}

.fetured-banner-toptext{
    float: left;
    width: 100%;
    background: #c0c162;
    padding: 12px 0;
    color: #000000;
    font-size: 16px;
    font-family: 'open_sansregular';
    text-align: center;
}

.fetured-banner-box-inner {
    float: left;
    margin: 70px 0 0;
    text-align: center;
    width: 100%;
}

.fetured-banner-box{
    display: inline-block;
    min-height: 270px;
    background: #ffffff;
    width: 24%;
    padding: 0 6px;
}

.fetured-banner-box > h2 {
    color: #00aebc;
    font-family: "open_sanssemibold";
    font-size: 18px;
    margin: 15px 0;
}

.fetured-banner-box > p {
    color: #000000;
    font-size: 15px;
    font-family: 'open_sansregular';
    margin: 10px 0;
}

.fetured-top-circleimg {
    display: inline-block;
    width: 50%;
}
.fetured-top-circleimg img {
    border: 4px solid #fff;
    border-radius: 50%;
    display: inline-block;
    margin-top: -70px;
}

.fetured-banner-box .map-tooltip-rating {
    margin: 2px 0 10px;
}

.fetured-banner-box  .map-tooltip-rating i.fa-star{
    font-size: 22px;
}

.fetured-banner-box:nth-child(2){
    margin: 0 0 0 8px;
}

.fetured-banner-box:nth-child(3){
    margin: 0 8px;
}

/* feathured-banner css end */



/*request-talentnook_b css start*/

.request-talentnook {
    background: rgba(0, 0, 0, 0) url("/tn/assets/images/talent-master-topbanner.jpg") no-repeat scroll 100% 0 / cover ;
    float: left;
    min-height: 330px;
    width: 100%;
}

.request-talentnook-bannercontent {
    float: left;
    text-align: center;
    width: 100%;
}

.request-talentnook-bannercontent h2 {
    color: #ffffff;
    font-family: 'open_sanssemibold';
    font-size: 35px;
    margin: 20px 0;
}

.request-talentnook-bannercontent h3{
    font-size: 35px;
    color: #ffffff;
    font-family: 'open_sansbold';
    text-underline-position: 
}

.request-talentnook-bannercontent img {
    border: 4px solid #dbdbdb;
    border-radius: 50%;
    display: inline-block;
    width: 157px;
}

.student_title_check .home-skills-checkbox {
    margin-right: 30px;
    margin-top: 0;
    width: auto;
}

.student_title {
    float: left;
    font-family: 'open_sanssemibold';
    font-size: 20px;
    margin: 10px 0 0;
    width: 100%;
}

.student_title_check {
    float: left;
    margin: 15px 0 25px;
    width: 100%;
}

.add_student {
    float: left;
    margin-bottom: 15px;
    width: 100%;
}

.add_student a{
    color: #093856;
    font-size: 14px;
    text-transform: capitalize;
}

.add_student a i{
    color: #0bb0bf;
    padding-right: 4px;
    font-size: 15px;
}

.add_student-formsec {
    background: #e3e8f1 none repeat scroll 0 0;
    float: left;
    padding: 15px 0 20px;
    width: 100%;
}

.add_student-formsec .form-group {
    float: left;
    margin-right: 20px;
    width: 15%;
    margin-bottom: 0;
}

.student_enrollsec{
    float: left;
    width: 100%;
    background: #f4f6fa;
}

.add_student-formsec form {
    float: left;
    width: 100%;
}

.add_student-formsec label{
    color: #000000;
    font-size: 14px;
    font-weight: normal;
    font-family: 'open_sansregular';
    text-transform: capitalize;
    float: left;
    width: 100%;
}

.add_student-formsec input{
    color: #000000;
    font-size: 14px;
    font-weight: normal;
    font-family: 'open_sansregular';
    border: 1px solid #c4cacd;
    height: 40px;
    float: left;
    width: 100%;
}


.add_student-formsec select {
    border: 1px solid #c4cacd;
    padding: 6px;
    width: 100% !important;
    border-radius: 4px;
    float: left;
    height: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    appearance: none;
     font-family: 'open_sansregular';
    color: #000;
    font-size: 14px;
    background: #ffffff url("/tn/assets/images/select-arrow01.jpg") no-repeat scroll 100% 0;
    background-color: #ffffff: 
}

.add-student-btnouter {
    float: left;
}

.add-student-btnouter > label {
    opacity: 0;
}

.add-student-btn {
    background: #007da5 none repeat scroll 0 0;
    border: medium none;
    border-radius: 4px;
    color: #fff;
    font-family: "open_sanssemibold";
    font-size: 20px;
    padding: 5px 28px;
}

.cooment_sec {
    float: left;
    width: 100%;
}

.comments-msg {
    border: 1px solid #c4cacd;
    border-radius: 4px;
    float: left;
    height: 100px;
    margin: 20px 0;
    padding: 6px 10px 0;
    resize: none;
    width: 100%;
}

.request-btns-inner {
    float: left;
    margin: 20px 0 50px;
    text-align: center;
    width: 100%;
}

.request-btn{
    background: #0bb0bf;
    color: #ffffff;
    font-size: 20px;
    font-family: "open_sanssemibold";
    border: none;
    border-radius: 4px;
    padding: 4px 15px;
    margin-right: 10px;
}

.cancle-btn{
    background: #0a3756;
    color: #ffffff;
    font-size: 20px;
    font-family: "open_sanssemibold";
    border: none;
    border-radius: 4px;
    padding: 4px 15px;
}

/*request-talentnook_b css end*/

.request-talentnook-feestruc{
    float: left;
    width: 100%;
    background: #093856;
}

.frquest-fee-leftsection {
    float: left;
    padding: 15px 0;
    width: 50%;
}

.fee-title{
    color: #ffffff;
    font-size: 20px;
    font-family: 'open_sanssemibold';
    float: left;
    width: 100%;
    margin: 0;
}

.fees-deatis-left.request-talenamount {
    width: 22%;
}

.fees-strutble {
    float: left;
    width: 75%;
}

.fees-strutble .table thead tr th{
    font-size: 14px;
    color: #01aebc;
    font-family: 'open_sansbold';
    border-bottom: none;
    text-align: center;
}

.fees-strutble .table tbody tr td{
    font-size: 14px;
    color: #ffffff;
    font-family: 'open_sansregular';
    border-bottom: 1px solid #3d5c70;
    text-align: center;     
}

.fees-strutble .table tbody tr td:last-child{
    color: #c3d600;
}

.fees-strutble .table > tbody > tr > td, 
.fees-strutble .table > tbody > tr > th{ 
    border-top: none; 
}

a.fee-seemore{
    float: right;
    font-size: 14px;
    color: #c3d600;
    font-family: 'open_sansbold';
    text-transform: capitalize;
}

.frquest-fee-rightsec {
    border-left: 1px solid #01aebc;
    float: left;
    padding-left: 20px;
    padding-top: 15px;
    width: 30%;
}

.select-inner {
    float: left;
    width: 100%;
}

.select-inner select {
    border: 1px solid transparent;
    padding: 6px;
    width: 100% !important;
    border-radius: 4px;
    float: left;
    height: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    appearance: none;
    font-family: 'open_sansregular';
    color: #000;
    font-size: 14px;
    background: #ffffff url("/tn/assets/images/select-arrow01.jpg") no-repeat scroll 100% 0;
    background-color: #ffffff: 
}

.frquest-fee-rightsec label{
    color: #01aebc;
    font-family: 'open_sansregular';
    font-size: 14px;
    font-weight: normal;
}

.fee-input-inner {
    float: left;
    margin-top: 10px;
    width: 100%;
}

.fee-input-inner input{
    height: 38px;
    float: left;
    width: 100%;
    padding: 6px 10px;
}



.host-lentnook a{
    color: #01aebc;
    font-family: 'open_sansitalic';
    font-size: 14px;
    text-decoration: none;
}

.host-lentnook {
    background: #fff none repeat scroll 0 0;
    border: 1px dashed #00aebc;
    float: left;
    margin: 10px 0 0;
    padding: 5px 23px;2970
    
    text-align: center;
    width: 100%;
}

.host-lentnook a span{
    color: #093856;
}

/*feathured-banner css end*/
.page-not-found{
    margin: 10% 0 10% 0;
}

/* welcome-pt-page */
.welcom-container{
    padding-right: 0px;
    padding-left: 0px;
}
.welcome-bx{
    float: left;
    width: 100%;
}
.welcome-img{
    float: left;
    width: 100%;
}
.welcome-img img{
    width: 100%;
}
.wel-yellow-back-color{
    background-color: #eceb6c;
    padding: 43px 0px 38px 0px;
    float: left;
    width: 100%;
    text-align: center;
}
.wel-color-inner{
    float: left;
    width: 100%;
}
.wel-color-inner-in{
    float: left;
    width: 100%;   
}
.wel-color-tx{
    font-size: 42px;
    color: #000000;
    font-family: 'open_sansbold';    
    text-transform: uppercase;
    line-height: 42px;
}
.wel-color-text{
    font-size: 42px;
    color: #000000;
    font-family: 'open_sansregular';
    text-transform: uppercase;
}
.featured-bx{
    float: left;
    width: 100%;
    text-align: center;
    padding: 45px 0px 40px 0px;
    background-color: #e4f3fa;
}
.featured-bx-in{
    display: inline-block;
    width: 100%;
}
.featured-bx-inner-bx{
    width: 100%;
}
.featured-head-bx{
    width: 100%;
}
.feature-head{
    font-size: 35px;
    color: #000000;
    font-family: 'open_sanssemibold';
    text-transform: capitalize;
}
.featured-matter-bx{
    float: left;
    width: 100%;
    margin-top: 100px;
}
.featured-matter-bx-in{
    width: 23%;
    height: 270px;
    background-color: #ffffff;
    position: relative;
    box-shadow: 0px 2px #a9b4b9;
    display: inline-block;
    margin: 0px 1% 0px 0px;
}
.featured-matter-bx-in:first-child{
    margin-left: 0px;
}
.featured-matter-bx-in:last-child{
    margin-right: 0px;
}
.featured-img{
    display: inline-block;
}
.featured-img img{
    border-radius: 50%;
    width: 128px;
    height: 128px;
    position: absolute;
    top: -60px;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    box-shadow: 0px 5px #e9e9e9;
}
.featured-name-tx{
    width: 92%;
    font-size: 18px;
    color: #00aebc;
    font-family: 'open_sanssemibold';
    position: absolute;
    top: 80px;
    left: 10px;
    right: 0px;
    text-transform: capitalize;
    overflow: hidden;
    word-wrap: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.featured-ul-bx{}
.featured-ul-bx ul{
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 113px;
    left: 0px;
    right: 0px;
}
.featured-ul-bx ul li{
    list-style: none;
    /*float: left;*/
    color: #0bb0bf;
    font-size: 25px;
    padding: 0px 2px;
    display: inline-block;
}
.featured-ul-bx ul li i{
    color: #b2bac0;
}
.featured-ul-bx ul li i.fa-star.active {
    color: #0db1bd;
}
.featured-para{
    font-size: 16px;
    color: #000000;
    font-family: 'open_sansregular';
    position: absolute;
    bottom: 55px;
    padding: 0px 10px;
    line-height: 25px;
    height: 50px;
    overflow: hidden;
}
.featured-tab{
    position: absolute;
    bottom: 16px;
    left: 0px;
    right: 0px;
}
.featured-button{
    background-color: #f2f2f2;
    border: none;
    font-size: 13px;
    color: #011c2f;
    font-family: 'open_sansregular';
    border-radius: 5px;
    padding: 4px 7px;
    margin: 0px 2px;
}
.featured-button li{
    color: #adacac;
}
.like-bx{
    float: left;
    width: 100%;
}
.like-bx-in{
    float: left;
    width: 100%;
}
.like-first{
    width: 35%;
    height: 100px;
    background-color: #006db3;
    float: left;
    position: relative;
    max-width: 100%;
    cursor: pointer;
}
.like-first:nth-child(2){
    width: 30%;
    background-color: #01aebc;
    position: relative;
}
.like-first:nth-child(3){
    background-color: #093856;
    position: relative;
}
.like-first-tx{
    font-size: 20px;
    color: #ffffff;
    font-family: 'open_sanssemibold';
    width: 260px;
    text-align: center;
    position: absolute;
    top: 26px;
    right: 82px;
    line-height: 25px;
    padding: 0px 20px;
}
.like-second-tx{
    font-size: 20px;
    color: #ffffff;
    font-family: 'open_sanssemibold';
    text-align: center;
    position: absolute;
    top: 40px;
    right: 0px;
    left: 0px;
    padding: 0px 20px;
}
.like-Third-tx{
    font-size: 20px;
    color: #ffffff;
    font-family: 'open_sanssemibold';
    text-align: center;
    position: absolute;
    top: 40px;
    left: 82px;
    padding: 0px 20px;
}
.fea-stu-bx{
    float: left;
    width: 100%;
    text-align: center;
}
.fea-stu-bx-in{
    float: left;
    width: 100%;
}
.fea-stu-img{
    float: left;
    width: 100%;
}
.fea-stu-img img{
    width: 100%;
}
/*welcome-pt-page*/


/*welcome-tm-page*/
.wel-yellow-back-color-tm{
    /*background-color: #eceb6c;*/
    padding: 43px 0px 38px 0px;
    float: left;
    width: 100%;
    text-align: center;
}
.wel-color-para{
    font-family: 'open_sansitalic';
    font-size: 20px;
    color: #000000;
    margin-top: 5px;
}
.welcome-button-bx{
    margin-top: 45px;
    margin-bottom: 15px
}
.wel-but{
    border: none;
    padding: 15px 21px 13px 21px;
    background-color: #01aebc;
    color: #ffffff;
    font-size: 20px;
    font-family: 'open_sanssemibold';
    border-radius: 4px;
    min-width: 280px;
}
/*welcome-tm-page*/

.multi-chips .modal-textarea, .multi-chips .modal-input{
    padding: 10px 10px 10px 10px;
}
.ui-chips>ul.ui-inputtext{
    background: #f3f3f3 none repeat scroll 0 0;
    border: 1px solid #dbdbdb;
    color: #323a45;
    font-family: "open_sansregular";
    font-size: 14px;
}
.ui-chips-input-token{
    margin: 0px !important;
    padding: 10px !important; 
}
.ui-chips-input-token input{
    border: none !important;
    background: #f3f3f3 none repeat scroll 0 0;
}
.ui-chips-input-token input:active{
    border: none !important;
}

.ngui-auto-complete-wrapper{width: 30%; display: inline-block;}


/*member-profile and member edit profile css start*/
.member-profile-outer {
    background: #f4f6fa;
    float: left;
    min-height: 600px;
    padding: 25px 0;
    width: 100%;
}

.mem-prof-leftouter {
    float: left;
    width: 30%;
}

.mem-prof-bgouter {
    background: #093856;
    float: left;
    text-align: center;
    width: 100%;
    padding: 28px 0 64px;
}

.mem-prof-inner {
    display: inline-block;
    width: 50%;
}

.mem-prof-inner img{
    border-radius: 50%;
    border: 4px solid #dbdbdb;
 }

.mem-prof-title {
    color: #fff;
    float: left;
    font-family: "open_sansbold";
    font-size: 25px;
    margin: 10px 0 25px;
    width: 100%;
}

.mem-prof-leftsocial {
    background: #01aebc;
    border-top: 2px solid #d2d7e1;
    float: left;
    padding: 25px 0;
    text-align: center;
    width: 100%;
}

.mem-prof-leftsocial .foot-btm-socail{
    float: left;
    width: 100%;
    text-align: center;
}

a.linkmember {
    color: #01aebc;
    float: right;
    font-family: "open_sansregular";
    font-size: 13px;
    padding-right: 10px;
    text-decoration: underline;
}

.mem-prof-rightouter {
    background: #fff;
    float: left;
    padding-top: 10px;
    width: 70%;
    border-top: 1px solid #d2d7e1;
}

.mem-prof-address {
    float: left;
    padding: 20px 10px 7px;
    width: 100%;
}

.mem-prof-address-inner {
    color: #000;
    float: left;
    font-family: "open_sansregular";
    font-size: 16px;
    margin-bottom: 8px;
    width: 100%;
}

.add-editicon {
    float: right;
}

.addresicon {
    float: left;
    text-align: center;
    width: 35px;
}

.addresicon i{
    color: #01aebc;
 }

.add-links > a {
    color: #007da5;
}

.add-editicon a i{
    color: #093e67;
    font-size: 20px;
}

.mem-prof-phonenumouter {
    border-top: 1px solid #d2d7e1;
    border-bottom: 1px solid #d2d7e1;
    float: left;
    padding: 10px 10px 10px 20px;
    width: 100%;
}

.mem-prof-phoinner {
    float: left;
    width: 33%;
    border-right: 1px solid #d2d7e1;
}

.mem-prof-phoinner:last-child {
    border-right: none;
}


.mem-prof-phoinner {
    border-right: 1px solid #d2d7e1;
    float: left;
    margin-right: 16px;
    width: 30%;
}

.mem-pro-photitle {
    float: left;
    width: 100%;
    font-family: "open_sansregular";
    color: #000000;
    font-size: 14px;
}

.mem-pro-phonum {
    float: left;
    width: 100%;
    font-family: 'open_sanssemibold';
    color: #000000;
    font-size: 14px;
}

.mem-pro-talentprof {
    float: left;
    width: 100%;
    background: #eceb6c;
}

.mem-pro-talentprof-left {
    border-right: 1px solid #cbca50;
    float: left;
    padding: 12px 12px 25px 20px;
    width: 50%;
}

.talent-int {
    color: #000000;
    float: left;
    font-family: "open_sanssemibold";
    font-size: 14px;
    margin-bottom: 10px;
    width: 100%;
}

.mem-pro-talentprof-right {
    float: left;
    width: 50%;
    padding: 12px 12px 12px 20px;
}

.talent-guitar {
    float: left;
    width: 100%;
    color: #007da5;
    font-size: 16px;
    font-family: 'open_sanssemibold';
}

.btn.yesbtn {
    background: #01aebc;
    border-radius: 25px;
    color: #ffffff;
    font-family: "open_sanssemibold";
    font-size: 14px;
    min-height: 30px;
    min-width: 60px;
    padding: 6px 10px;
    text-transform: capitalize;
}

.setuppaymen-bg {
    background: #093856;
    float: left;
    padding: 25px 20px;
    width: 100%;
}

.btn.setuppaymnt-btn{
    background: #01aebc;
    color: #ffffff;
    font-size: 16px;
    font-family: "open_sansregular";
}

.mem-prof-topouter{
    float: left;
    width: 100%;
}

.member-student-table {
    float: left;
    padding-right: 15px;
    width: 100%;
}

.member-studenttitel {
    color: #007da5;
    float: left;
    font-family: "open_sanssemibold";
    font-size: 20px;
    margin: 15px 0;
    width: 100%;
}

.member-studenttitel span{
    float: right;
}

.member-studenttitel span a i{
    color: #093e67;
    font-size: 20px;
}

.student-table-menb {
    float: left;
    width: 100%;
}


.student-table-menb table thead{
    background: #007da5;
}

.student-table-menb table thead th{
    font-size: 16px;
    color: #ffffff;
    font-family: 'open_sanssemibold';
}

.student-table-menb .table > thead > tr > th{
    border-bottom: 2px solid #005773;
}

.student-table-menb .table > tbody > tr > td{
    color: #000000;
    font-size: 14px;
    font-family: "open_sansregular";
    vertical-align: middle;
    border-bottom: 1px solid #d1d1d1;
}

.student-table-menb .table > tbody > tr > td:first-child{
    text-align: right;
}

.student-table-menb .table .post-userimg {
    display: inline-block;
    float: none;
    width: 35px;
}


.student-table-menb .table-hover > tbody > tr:hover {
    background-color: #ffffff;
    cursor: pointer;
}

.member-feedbackcontent {
    float: left;
    width: 100%;
}

.feedback-provided-left {
    float: left;
    width: 40px;
}
.feedback-provided-right {
    float: left;
    width: 94%;
}

.feedback-provided-right .dashbaord-post-details {
    margin: 0;
}

.feedback-provided-right .post-username {
    padding: 5px 10px 0 0;
}

.feedback-provided-right {
    float: left;
    padding-left: 6px;
    width: 94%;
}

.member-feedbackcontent .dashbaord-post-inner {
    margin-bottom: 15px;
 }

 .member-rightsectinon{
    float: left;
    width: 100%;
 }
 
.btn.mydashbord-btn {
    background: #01aebc none repeat scroll 0 0;
    color: #fff;
    font-family: "open_sanssemibold";
    font-size: 16px;
    min-height: 38px;
    min-width: 175px;
    padding-left: 40px;
    position: relative;
}

.btn.mydashbord-btn > span {
    background: #093856 none repeat scroll 0 0;
    border-radius: 20px;
    border-right: 2px solid #eceb6c;
    float: left;
    left: -15px;
    min-height: 38px;
    min-width: 45px;
    position: absolute;
    top: -1px;
    vertical-align: middle;
}

.btn.mydashbord-btn > span i {
    color: #eceb6c;
    font-weight: bold;
    padding-top: 10px;
    vertical-align: middle;
}

.member-right-budegs {
    float: left;
    width: 100%;
}

.member-right-budegs > ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.member-right-budegs li {
    border-bottom: 1px solid #d2d7e1;
    float: left;
    padding: 12px 0;
    width: 100%;
}

.member-right-budegs li a{
    color: #000000;
    font-size: 14px;
    font-family: "open_sanssemibold";
    text-decoration: none;
}

.member-right-budegs span {
    float: right;
}

.member-right-budegs span{
    float: right;
    color: #007da5;
    font-family: 'open_sansbold';
}

.member-right-budegs span.badge {
    background-color: #01aebc;
    color: #fff;
    font-size: 14px;
    font-family: "open_sanssemibold";
}

.member-rightsec {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #d2d7e1;
    height: 100%;
    padding-left: 25px;
    padding-right: 25px;
    position: absolute;
    right: 0;
    top: 0;
}

.mem-prof-pd-r0{
    padding-right: 0
}

.mem-mydasborouter {
    border-bottom: 1px solid #d2d7e1;
    float: left;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

.btn-chnage-btnouter {
    float: left;
    margin: 15px 0;
    width: 100%;
}

.btn-chnage-btnouter a.btn.chnage-btn{
    background: #093856;
    color: #ffffff;
    font-size: 16px;
    font-family: "open_sanssemibold";
    text-transform: capitalize;
    width: 100%;
    margin-bottom: 10px;
}

.member-profile-outer .row{
    position: relative;
}

.change-passwrd-detls {
    float: left;
    width: 100%;
}

.change-passwrd-detls input {
    border: 1px solid #c4cacd;
    border-radius: 6px;
    float: left;
    height: 35px;
    margin-bottom: 10px;
    padding: 4px 10px;
    width: 100%;
    font-family: "open_sansregular";
    font-size: 13px;
    color: #000000;
}

.change-passwrd-detls input{

}

.change-passwrd-detls input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #adadad;
}

.change-passwrd-detls input::-moz-placeholder { /* Firefox 19+ */
  color: #adadad;
}

.btn.sve-btn{
    background: #093e67;
    color: #ffffff;
    font-size: 14px;
    font-family: "open_sanssemibold";
    float: right;
    margin-left: 10px;
}

.btn.can-btn{
    background: #007da5;
    color: #ffffff;
    font-size: 14px;
    font-family: "open_sanssemibold";
    float: right;
    margin-left: 10px;
}

.grayselect select {
    -moz-appearance: none;
    background: rgb(255, 255, 255) url("/tn/assets/images/sort-by-select.png") no-repeat scroll 100% 0;
    border: 1px solid #c5cacd;
    border-radius: 4px;
    color: #000000;
    height: 40px;
    padding-left: 6px;
    width: 100%;
}

.grayselect {
    display: inline-block;
    float: none;
    width: 120px;
}

.mem-talent-interst {
    float: left;
    width: 100%;
    margin-top: 6px;
}

.mem-talent-interst input {
    border: 1px solid #c4cacd;
    border-radius: 4px;
    color: #000000;
    font-family: "open_sansregular";
    font-size: 13px;
    height: 34px;
    padding: 10px 12px;
    width: 80%;
}

.mem-talent-interst span{
    float: right;
}

.mem-talent-interst span i {
    color: #01aebc;
    font-size: 30px;
}

.mt-25 {
    margin-top: 25px;
}

.mem-talentprofile {
    color: #eceb6c;
    float: left;
    font-family: "open_sansregular";
    font-size: 16px;
    margin-bottom: 34px;
    width: 100%;
}

.member-facebooksection > input {
    border: 1px solid #c4cacd;
    border-radius: 4px;
    color: #000000;
    font-family: "open_sansregular";
    font-size: 14px;
    height: 34px;
    padding: 10px 12px;
    display: inline-block;
}

.member-facebooksection i {
    color: #01aebc;
    display: inline-block;
    font-size: 36px;
    margin-top: 0;
    vertical-align: top;
}

.member-facebooksection {
    border-bottom: 1px solid #d2d7e1;
    border-left: 1px solid #d2d7e1;
    float: left;
    padding: 10px;
    width: 100%;
}

.mem-detals-inputouter {
    background: #e3e8f1;
    float: left;
    padding: 20px 15px;
    width: 100%;
}

.mem-detals-inputinner {
    float: left;
    width: 20%;
    margin-right: 15px;
}

.details-lable {
    font-size: 14px;
    color: #000000;
    font-family: "open_sansregular";
    float: left;
    width: 100%;
}

.mem-detals-inputinner input{
    border: 1px solid #c4cacd;
    border-radius: 4px;
    color: #000000;
    font-family: "open_sansregular";
    font-size: 14px;
    height: 40px;
    padding: 10px 12px;
    display: inline-block;
}

.mem-detals-select {
    float: left;
    width: 14%;
    margin-right: 15px;
}

.mem-detals-inputinner.school-input {
    width: 28%;
}

.mem-detals-inputinner.school-input input{
    width: 100%;
}

.Upload-outer {
    float: left;
    width: 50%;
}

.Upload-outer > label {
    float: left;
    overflow: hidden;
    width: 100%;
}

.upload-label {
    float: left;
    width: 100%;
    position: relative;
}

.btn.browse-btn {
    background: #0bb0bf none repeat scroll 0 0;
    color: #fff;
    height: 38px;
    position: absolute;
    right: 0;
    top: 1px;
}

.upload-label-input {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    float: left;
    height: 40px;
    width: 100%;
}

.Upload-outer input[type="file"] {
    display: block;
    height: 40px;
    left: -76px;
    position: absolute;
    top: 1px;
    width: 495px;
    z-index: 999;
}

.Upload-outer-main {
    float: left;
    margin-top: 15px;
    width: 100%;
}

.Upload-outer-main .btn.can-btn,
.Upload-outer-main .btn.sve-btn{
    margin-top: 30px;
}

.Upload-outer-main .btn.can-btn{
    margin-right: 25px;
}
.tblepluse-icon {
    padding-right: 15px;
}


/*member-profile and member edit profile css end*/

/*become talentmaster start*/

.wrapper_become{
    float: left;
    width: 100%;
}
.wrapper_sub_become{
    float: left;
    width: 100%;
    position: relative;
    /*background: url(../images/img/bec_slider1.jpg) center no-repeat;
    background-size: cover;
    padding: 144px 0px 137px 0px;*/
}
.wrapper_sub_become img{
    width: 100%;
}
.wrapper_sub_become_text{
    float: left;
    width: 450px;
    position: absolute;
    bottom: 137px;
    left: 65px;
}
.wrapper_sub_become_tx{
    font-size: 25px;
    color: #000000;
    font-family: 'open_sansitalic';
    line-height: 28px;
}
.bec_mar{
    margin-top: 15px;
}
.wrapper_sub_become_tx_bold{
    font-size: 35px;
    color: #000000;
    margin-top: 5px;
    font-family: 'OpenSansBoldItalic';
}
.become_button{
    background-color: #01aebc;
    border: none;
    border-radius: 4px;
    font-size: 21px;
    color: #ffffff;
    font-family: 'open_sanssemibold';
    padding: 5px;
    width: 185px;
    height: 45px;
    margin-top: 20px;
}

.wrapper_work_more{
    float: left;
    width: 100%;
    background-color: #e4f3fa;
    padding: 100px 0px 45px 0px;
    text-align: center;
}
.become_pad{
    padding-left: 0px;
}
.become_pad2{
    padding-left: 0px;
    padding-right: 0px;
}
.wrapper_work_sub_more{
    width: 100%;
    padding: 75px 15px 60px 15px;
    background-color: #ffffff;
    position: relative;
}
.wrapper_work_sub_more img{
    position: absolute;
    top: -50px;
    left: 0px;
    right: 0px;
    margin: 0px auto; 
}
.wrappre_work_title{
    font-size: 20px;
    color: #000000;
    font-family: 'open_sanssemibold';
}
.wrapper_work_tx{
    font-size: 14px;
    color: #000000;
    font-family: 'open_sansregular';
    margin-top: 20px;
    line-height: 20px;
}

.wrapper_talent_master{
    float: left;
    width: 100%;
}
.wrapper_talent_master{
    float: left;
    width: 100%;
}
.wrapper_talent_master img{
    width: 100%;
}

.wrapper_mid_saying{
    float: left;
    width: 100%;
    padding: 40px 0px;
    background-color: #01aebc;
    text-align: center;
}
.wrapper_title{
    width: 100%;
    display: inline-block;
    margin-bottom: 30px;
}
.wrapper_tx{
    font-size: 35px;
    color: #ffffff;
    font-family: 'open_sanssemibold';
}
.wrapper_sub_Sub_saying{
    position: relative;
}
.syaing_wrapper{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 400px;    
}
.wrapper_mid_saying .popover{
    max-width: 365px;
    display: block;
    text-align: center;
    z-index: 0;
}
.wrapper_mid_saying .popover p{
    font-family: 'open_sansitalic';
    font-size: 16px;
    color: #000000;
}
.pop_box{
   margin-top: 130px;
}
.pop_sub_ul{
    font-size: 20px;
    color: #0a3756;
    font-family: 'open_sanssemibold';
    margin-top: 8px;
}
.pop_sub_ul a{
    color: #ffffff;
    text-decoration: none;
}
.pop_sub_ul span{
    color: #ffffff;
}
/*become talentmaster end*/